<%= form_tag page_event_recurrence_path(@page, @event), :method => :put do %>
  <%= hidden_field_tag :stop, @calendar.stop %>

<table id="recurrence" class="recurrence">

<tr>
<% @calendar.weeks.first.days.each do |day|
  name = day.date.strftime("%a") -%>
  <th>
    <%= check_box_tag name, name, false, :id => name %>
    <%= name %>
  </th>
<% end -%>
</tr>

<% @calendar.weeks.each do |week| -%>
<tr>
  <% week.days.each do |day| -%>
  <td <%= raw date_class(day, @date, (! day.events.empty?)) %> >
    <% if 1 == day.date.day %>
      <div class="month">
        <%= day.date.strftime("%B") %>
      </div>
    <% end -%>
    <span class="day">
      <%= day.date.day %>
    </span>
    <%= check_box_tag 'days[]', day.date.strftime('%Y-%m-%d'),
      (! day.events.empty?),
      :class => day.date.strftime("%a") %>
  </td>
  <% end -%>
</tr>
<% end -%>

</table>

<div class="actions">
  <%= submit_tag("Update Recurrence") %>
</div>

<% end %>

<%= javascript_tag do %>
  <%= render :partial => 'weeks.js' -%>
<% end -%>
