<%= form_for(@filled_form, :url => (@filled_form.id ?
    form_fill_path(@form, @filled_form) : form_fills_path(@form))) do |f| %>
  <% if @filled_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filled_form.errors.count, "error") %> prohibited this filled_form from being saved:</h2>

      <ul>
      <% @filled_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @payment and @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited the payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= text_field_tag 'email_address_confirmation', '',
    :id => 'email_address_confirmation', :placeholder => 'email address',
    :autocomplete => (autocomplete_honeypot ? 'off' : 'on') %>

  <ul id="filled_fields">
    <%= render :partial => 'filled_fields/fill_form_field',
      :collection => @form.form_fields %>
    <li class="form_field"></li><!-- to clear -->
  </ul>
  
  <% if not @form.form_fields.empty? -%>
  
  <% if current_user and current_user.administrator? -%>
    <hr/>
    <%= f.label :change_submitter %>
    <span class="help">please use with caution.</span>
    <%= collection_select(:filled_form, :user_id,
      User.where("TRIM(both ' ' from name) != ''").order('LOWER(name) ASC'), :id, :name,
      :include_blank => true) %>
  <% end -%>
  
  <div class="actions">
    <%= f.submit (@filled_form.id ? 'Update' : 'Submit') %>
    | <%= link_to 'Cancel', friendly_page_path(@page) %>
    <% if current_user and @filled_form.id -%>
    | <%= link_to 'Print',
      form_fill_path(@form, @filled_form), :id => 'print_form_link' %>
    | <%= link_to 'Delete', form_fill_path(@form, @filled_form),
        :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>
  
  <% end -%>
<% end %>

<%= javascript_tag do %>
$('#print_form_link').click(function(event){
  window.print();
  event.preventDefault(); // Prevent link from following its href
});
<% end -%>
