<% filled_form ||= @filled_form -%>
<%= form_for(filled_form, :url => (filled_form.id ?
    form_fill_path(filled_form.form, filled_form) : form_fills_path(filled_form.form))) do |f| %>
  <% if filled_form.errors.any? -%>
    <div id="error_explanation">
      <h2><%= pluralize(filled_form.errors.count, "error") %> prohibited this form from being saved:</h2>
      <ul>
      <% filled_form.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end -%>
      </ul>
    </div>
  <% end -%>
  <% if @payment and @payment.errors.any? -%>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited the payment from being saved:</h2>
      <ul>
      <% @payment.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end -%>
      </ul>
    </div>
  <% end -%>
  
  <%= text_field_tag 'email_address_confirmation', '',
    :id => 'email_address_confirmation', :placeholder => 'email address',
    :autocomplete => (autocomplete_honeypot ? 'off' : 'on') %>
    
  <% if filled_form == @filled_form and @parent_filled_forms -%>
    <% if @parent_filled_forms.count == 1 -%>
      <%= f.hidden_field :parent_id %>
    <% elsif @parent_filled_forms.count > 1 %>
      <div id="form_fill_parent">
        <%= f.label @parent_filled_forms.first.form.name %>
        <%= collection_select(:filled_form, :parent_id,
          @parent_filled_forms, :id, :name,
          :include_blank => false) %>
      </div>
    <% end -%>
  <% end -%>

  <% if filled_form.form.form_sections.empty? -%>
  <ul id="filled_fields">
    <%= render :partial => 'filled_fields/fill_form_field',
      :collection => filled_form.form.form_fields,
      :locals => {:filled_form => filled_form} %>
    <li class="form_field"></li><!-- to clear -->
  </ul>
  <% else -%>
  <ul id="filled_sections">
    <%= render :partial => 'filled_forms/fill_form_section',
      :collection => filled_form.form.form_sections,
      :locals => {:filled_form => filled_form} %>
  </ul>
  <% end -%>
  
  <% if not filled_form.form.form_fields.empty? -%>
  
  <% if current_user and current_user.administrator? -%>
    <div id="form_fill_submitter">
      <%= f.label :submitter %>
      <%= collection_select(:filled_form, :user_id,
        User.where("TRIM(both ' ' from name) != ''").order('LOWER(name) ASC'), :id, :name,
        :include_blank => true) %>
      <div class="help">changing will change who can see it</div>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit (filled_form.id ? 'Update' : 'Submit') %>
    | <%= link_to 'Cancel', friendly_page_path(@page) %>
    <% if current_user and filled_form.id -%>
    | <%= link_to 'Print',
      form_fill_path(filled_form.form, filled_form), :id => 'print_form_link' %>
    | <%= link_to 'Delete', form_fill_path(filled_form.form, filled_form),
        data: {confirm: 'Are you sure?'}, method: :delete %>
    <% end %>
  </div>
  
  <% if filled_form.id -%>
  <div class="form_timestamp">Updated <%= form_fill_timestamp %></div>
  <% end -%>
  
  <% end -%>
  
<% end %>
