<% if @filled_forms.count > 0 and ((not @filled_form) or (@filled_form.id)) -%>
<div id="new_filled_form_button" class="admin">
  <%= button_to 'Fill Out Another', new_form_fill_path(@form),
    :method => :get %>
</div>
<% end -%>

<% unless @filled_forms.empty? -%>
<div id="submitted_form_list">
<ul>
  <% @filled_forms.each do |filled_form| -%>
  <li class="<%= filled_form == @filled_form ? 'active' : '' %>">
    <a href="<%= edit_form_fill_path(@form, filled_form)  %>">
      <%= filled_form.name %>
      <% if @form.payable? -%>
      <div class="form_amount">
        $<%= filled_form.payable_amount.to_s %>
        <span class="help">(<%= filled_form.payment_state %>)</span>
      </div>
      <% end -%>
      <div class="form_date">
        <%= filled_form.updated_at.relative_str %>
      </div>
      <% if @page.administrator?(current_user) and
        (not filled_form.user or filled_form.name != filled_form.user.name) -%>
      <div class="form_submitter">
        <%= (filled_form.user ? (filled_form.user.name || filled_form.user.email) : 'anonymous') %>
      </div>
      <% end -%>
    </a>
  </li>
  <% end -%>
</ul>
</div>
<% end -%>

<% unless @payments.empty? -%>
<div id="form_payment_list">
<ul>
  <% @payments.each do |payment| -%>
  <li>
    <% if payment.cancellable? -%>
      <%= form_tag edit_payment_path(payment), :method => :get, :class => 'button_to' do %>
        <%= hidden_field_tag :filled_form_key, payment.filled_forms.first.verification_key %>
        <%= hidden_field_tag :verification_key, payment.verification_key %>
        <%= submit_tag 'Pay' %>
      <% end %>
    <% else -%>
      <a href="<%= payment_path(payment) %>">
        <span>$<%= payment.amount %></span>
        <span><%= payment.state %></span> via
        <span><%= payment.method %></span>
        <span><%= payment_label_date(payment) %></span>
      </a>
    <% end -%>
  </li>
  <% end -%>
</ul>
</div>
<% end -%>
