<div class="filled_form_payment">
<% if not @filled_form.id -%>
  <h3>Payment Instructions</h3>
  <p>After submitting, you will be given further instructions on how to pay as well as an option to submit additional forms and pay them all together.</p>
<% elsif @filled_form.payment -%>
  <h3>Payment</h3>
  <p>Payed via payment on
    <%= link_to l(@filled_form.payment.sent_at.to_date, :format => :long),
      edit_payment_path(@filled_form.payment) %>.</p>
<% else -%>
  <h3>Payment</h3>
  <p>You will be able to add others to your payment.</p>
  <%= form_tag new_payment_path(), :method => :get do %>
    <%= hidden_field_tag :filled_form_id, @filled_form.id %>
    <%= submit_tag 'Pay' %>
  <% end %>
<% end -%>
</div>

<!--
<ul class="options_list">
  <li><%= radio_button_tag 'payment[type]', 'check' %> check
    <div class="option_help">
      Make a check payable to <%= '<payee>' %>
      and mail it to <%= Site.first.address %>.
    </div>
  </li>
  <li><%= radio_button_tag 'payment[type]', 'bank' %>
    my bank's online payment
    <div class="option_help">
      Use your bank's online bill payment system
      to initiate a transaction to pay <%= '<payee>' %>
        at <%= Site.first.address %>.
    </div>
  </li>
  <li><%= radio_button_tag 'payment[type]', 'google' %> Google checkout
    <div class="option_help">
      After clicking 'Submit' below, you will have the option to either pay online with Google checkout or submit additional forms and pay for them together.
    </div>
  </li>
</ul>
-->