<div class="form_field_name">
  Payment Instructions
</div>

<p>After submitting, you will be given further instructions on how to pay as well as an option to submit additional forms and pay them all together.</p>

<!--
<ul class="options_list">
  <li><%= radio_button_tag 'payment[type]', 'check' %> check
    <div class="option_help">
      Make a check payable to <%= '<payee>' %>
      and mail it to <%= Site.first.address %>.
    </div>
  </li>
  <li><%= radio_button_tag 'payment[type]', 'bank' %>
    my bank's online payment
    <div class="option_help">
      Use your bank's online bill payment system
      to initiate a transaction to pay <%= '<payee>' %>
        at <%= Site.first.address %>.
    </div>
  </li>
  <li><%= radio_button_tag 'payment[type]', 'google' %> Google checkout
    <div class="option_help">
      After clicking 'Submit' below, you will have the option to either pay online with Google checkout or submit additional forms and pay for them together.
    </div>
  </li>
</ul>
-->