<%= title "#{@form.name} - #{@page.name}" -%>

<%= render :partial => "forms/header" %>

<div class="regular_content">
  <section>
    
    <div class="form_admin">
      <%= @filled_forms.count %>
      by:
      <%= form_tag(form_fills_path(@form), method: 'get', id: 'filled_forms_sort') do %>
        <%= select_tag :sort,
          options_for_select(@sort_options, @sort) %>
      <% end -%>
    </div>
    
    <ul class="form_buttons">
      <% if @form.payable? and not @payable_forms.empty? -%>
      <li>
        <%= form_tag new_payment_path(), :method => :get do %>
          <%= hidden_field_tag :form_id, @form.id %>
          <%= submit_tag 'Payment Options' %>
        <% end %>
      </li>
      <% end -%>
      <li>
        <%= form_tag new_form_fill_path(@form), :method => :get do %>
          <%= submit_tag 'Fill Out Another' %>
        <% end %>
      </li>
    </ul>
    
    <table class="filled_forms">
    <% @filled_forms.each do |filled_form| -%>
      <tr>
        <td><%= link_to filled_form.name,
          edit_form_fill_path(filled_form.form, filled_form) %></td>
        <% if @sort_id > 0 -%>
        <td>
          <%= filled_form.filled_fields.where('form_field_id = ?', @sort).first.text_value
           %>
        </td>
        <% end -%>
        <td><%= filled_form.updated_at.relative_str %></td>
        <td><%= filled_form.version %></td>
        <% if @form.payable? -%>
          <td>
            <%= render :partial => 'payments/filled_form_amount',
              :locals => {:filled_form => filled_form }%>
          </td>
        <% end -%>
        <% if @page.administrator?(current_user) -%>
        <td><%= (filled_form.user ? filled_form.user.name : 'anonymous') %></td>
        <% end -%>
        <% if @form.payable? -%>        
          <td>
            <% if filled_form.payment -%>
              <%= link_to filled_form.payment_state,
                payment_path(filled_form.payment) %>
            <% else -%>
              unpaid
            <% end -%>
          </td>
          <td>
            <% if filled_form.payment -%>
              <%= filled_form.payment.method %>
            <% end -%>
          </td>
          <td>
            <% if filled_form.payment -%>
              <%= payment_label_date(filled_form.payment) %>
            <% end -%>
          </td>
        <% end -%>
      </tr>
    <% end -%>
    </table>
    
    
  </section>
</div>
