<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% @columns.each do |column| -%>
        <Cell><Data ss:Type="String"><%= column %></Data></Cell>
        <% end -%>
      </Row>
    <% @filled_forms.each do |filled_form| -%>
      <Row>
        <% @value_form_fields.each do |form_field| -%>
          <% filled_field = filled_form.filled_fields.detect{|fff|
              form_field == fff.form_field} -%>
        <Cell><Data ss:Type="String"><%= filled_field ? filled_field.value : '' %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= filled_form.user ?
          filled_form.user.name : 'anonymous' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= filled_form.user ?
          filled_form.user.email : '' %></Data></Cell>
        <% if @form.payable? -%>
          <Cell><Data ss:Type="String"><%= filled_form.payment ?
            filled_form.payment.state : 'unpaid' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= filled_form.payment ?
              filled_form.payment.method : '' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= (filled_form.payment and
              filled_form.payment.sent_at) ?
              filled_form.payment.sent_at.strftime("%m/%d/%Y") : '' %></Data></Cell>
        <% end -%>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
