<%= title "#{@form.name} - #{@page.name}" -%>

<%= render :partial => "forms/header" %>

<div class="regular_content">
  <section>
    
    <div class="form_sort">
      By:
      <ul>
        <li class="<%= @sort == 'name' ? 'active' : '' %>">
          <a href="?sort=name">name</a></li>
        <li class="<%= @sort == 'updated_at' ? 'active' : '' %>">
          <a href="?sort=updated_at">date</a></li>
        <li class="<%= @sort == 'version' ? 'active' : '' %>">
          <a href="?sort=version">version</a></li>
      </ul>
    </div>
    
    <ul class="form_buttons">
      <% if @form.payable? and not @payable_forms.empty? -%>
      <li>
        <%= form_tag new_payment_path(), :method => :get do %>
          <%= hidden_field_tag :form_id, @form.id %>
          <%= submit_tag 'Payment Options' %>
        <% end %>
      </li>
      <% end -%>
      <li>
        <%= form_tag new_form_fill_path(@form), :method => :get do %>
          <%= submit_tag 'Fill Out Another' %>
        <% end %>
      </li>
    </ul>
    
    <table class="filled_forms">
    <% @filled_forms.each do |filled_form| -%>
      <tr>
        <td><%= link_to filled_form.name,
          edit_form_fill_path(filled_form.form, filled_form) %></td>
        <td><%= filled_form.updated_at.relative_str %></td>
        <td><%= filled_form.version %></td>
        <% if @form.payable? -%>
          <td>
            <%= render :partial => 'payments/filled_form_amount',
              :locals => {:filled_form => filled_form }%>
          </td>
        <% end -%>
        <% if @page.administrator?(current_user) -%>
        <td><%= (filled_form.user ? filled_form.user.name : 'anonymous') %></td>
        <% end -%>
        <% if @form.payable? -%>        
          <td>
            <% if filled_form.payment -%>
              <%= link_to filled_form.payment_state,
                payment_path(filled_form.payment) %>
            <% else -%>
              unpaid
            <% end -%>
          </td>
          <td>
            <% if filled_form.payment -%>
              <%= filled_form.payment.method %>
            <% end -%>
          </td>
          <td>
            <% if filled_form.payment -%>
              <%= payment_label_date(filled_form.payment) %>
            <% end -%>
          </td>
        <% end -%>
      </tr>
    <% end -%>
    </table>
    
    
  </section>
</div>
