<%= title "#{@form.name} - #{@page.name}" -%>

<header>
  <h1>Submitted for <%= @form.name %> -
    <%= link_to @page.name, friendly_page_path(@page) %></h1>
  
  <% if user_signed_in? and current_user.administrator? -%>
    <div class="page_admin">
      <ul>
        <li><%= link_to 'csv',
          form_fills_path(@form, :format => 'csv') %><li>
        <li><%= link_to 'xls',
          form_fills_path(@form, :format => 'xls') %><li>
      </ul>
    </div>
  <% end -%>
</header>

<div class="regular_content">
  <section>
    
    <ul class="form_buttons">
      <% if @form.payable? and not @payable_forms.empty? -%>
      <li>
        <%= form_tag new_payment_path(), :method => :get do %>
          <%= hidden_field_tag :form_id, @form.id %>
          <%= submit_tag 'Payment Options' %>
        <% end %>
      </li>
      <% end -%>
      <li>
        <%= form_tag new_form_fill_path(@form), :method => :get do %>
          <%= submit_tag 'Fill Out Another' %>
        <% end %>
      </li>
    </ul>
    
    <table class="filled_forms">
    <% @filled_forms.each do |filled_form| -%>
      <tr>
        <td><%= link_to filled_form.name,
          edit_form_fill_path(filled_form.form, filled_form) %></td>
        <td><%= filled_form.created_at.relative_str %></td>
        <% if @form.payable? -%>
          <td>
            <%= render :partial => 'payments/filled_form_amount',
              :locals => {:filled_form => filled_form }%>
          </td>
        <% end -%>
        <% if @page.administrator?(current_user) -%>
        <td><%= (filled_form.user ? filled_form.user.name : 'anonymous') %></td>
        <% end -%>
        <% if @form.payable? -%>        
          <td>
            <% if filled_form.payment -%>
              <%= link_to filled_form.payment_state,
                payment_path(filled_form.payment) %>
            <% else -%>
              unpaid
            <% end -%>
          </td>
          <td>
            <% if filled_form.payment -%>
              <%= filled_form.payment.method %>
            <% end -%>
          </td>
          <td>
            <% if filled_form.payment -%>
              <%= payment_label_date(filled_form.payment) %>
            <% end -%>
          </td>
        <% end -%>
      </tr>
    <% end -%>
    </table>
    
    
  </section>
</div>
