<% filled_form ||= @filled_form -%>
<% title @form.name -%>

<header>
  <h1>
    <%= link_to @form.page.name, friendly_page_path(@form.page) %>
    &nbsp;&nbsp;
    <% unless filled_form.parent -%>
    <%= @form.name %>
    <% end -%>
  </h1>
  
  <% if user_signed_in? and current_user.administrator? -%>
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Edit form', edit_form_path(@form) %><li>
      <li><%= link_to 'forms', forms_path() %><li>
    </ul>
  </div>
  <% end -%>
  
</header>

<div class="regular_content">
<section>
  
  <% if filled_form.parent -%>
  <h2><%= filled_form.parent.form.name %></h2>
  <%= render :partial => 'show', :locals => {:filled_form => filled_form.parent} %>
  <% end -%>
  
  <% if filled_form.parent -%>
  <h2><%= filled_form.form.name %></h2>
  <% end -%>
  <%= render :partial => 'show', :locals => {:filled_form => filled_form} %>

  <div class="timestamp">
    Printed <%= Time.now.strftime("%A %B %e at %r") %>
    by <%= current_user.name || current_user.email %>
  </div>

</section>

</div>
