
<%= render :partial => 'accounts/header' %>

<ul id="forms_list">
<% @filled_forms.each do |filled_form| -%>
<li>
  <div class="filled_form_name">
  <%= link_to filled_form.name,
    edit_form_fill_path(filled_form.form, filled_form) %>
  </div>
  <div class="form_page_name">
  <%= link_to filled_form.form.page.name,
    friendly_page_path(filled_form.form.page)%>
  </div>
  <div class="form_name">
  <%= filled_form.form.name %>
  </div>
  <% if filled_form.form.payable -%>
  <div class="form_payment unstyled">
    <% if filled_form.payment -%>
     Paid by <%= filled_form.payment.method%>
     on <%= filled_form.payment.created_at %>
    <% elsif false -%><!-- !!! need to fix this for registrations! -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_buynow">
      <input type="hidden" name="business" value="eric_soderberg@pbc.org">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="Peninsula Bible Church">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
      <input type="image" src="/images/paypal-pay.png" border="0" name="submit" alt="Give via PayPal">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    <% end %>
  </div>
  <% end -%>
</li>
<% end -%>
</ul>
