
<%= render :partial => 'accounts/header' %>

<ul id="forms_list">
<% @filled_forms.each do |filled_form| -%>
<li>
  <div class="filled_form_name">
  <%= link_to filled_form.name,
    edit_form_fill_path(filled_form.form, filled_form) %>
  </div>
  <div class="form_page_name">
  <%= link_to filled_form.form.page.name,
    friendly_page_path(filled_form.form.page)%>
  </div>
  <div class="form_name">
  <%= filled_form.form.name %>
  </div>
  <% if filled_form.form.payable -%>
  <div class="form_payment unstyled">
    <% if filled_form.payment -%>
     Paid by <%= filled_form.payment.method%>
     on <%= filled_form.payment.created_at %>
  </div>
  <% end -%>
</li>
<% end -%>
</ul>
