<%= form_for(@message,
  :html => { :multipart => true }) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :message_set_id %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => '60' %>
  </div>
  <div class="field">
    <%= f.label :verses %><br />
    <%= f.text_field :verses %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date,
      :value => l(@message.date.to_date()) %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= collection_select(:message, :author_id,
      @authors, :id, :name,
      :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :dpid %><br />
    <%= f.text_field :dpid, :size => '8' %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '60x4' %>
  </div>
  <% unless @message.id -%>
  <div class="field">
    <%= f.label :file %><br />
    <%= file_field_tag 'message_file[file]' %>
  </div>
  <% end -%>
  <div class="actions">
    <%= f.submit (@message.id ? 'Update Message' : 'Add Message') %>
    <% if @message.id -%>
    | <%= link_to 'Cancel', message_path(@message) %>
    <% else -%>
    | <%= link_to 'Cancel', (@message.message_set_id ?
      series_path(@message_set) : messages_path) %>
    <% end -%>
    <% if @message.id -%>
    | <%= link_to 'Delete message', @message, :confirm => 'Are you sure?',
      :method => :delete %>
    <% end -%>
  </div>
<% end %>

<%= javascript_tag do -%>
  <%= render :partial => 'messages/form_aids.js' %>
<% end -%>
