<% sub_page = (@books or @authors or @book or @author) -%>
<% if @books or @authors or @book or @author -%>
  <%= render partial: 'messages/breadcrumbs' %>
<% end -%>

<header id="page_header">
  <h1 class="<%= sub_page  ? '' : 'active' %>">
    <%= link_to 'Message Library', messages_path %>
  </h1>
  
  <% if user_signed_in? and current_user.administrator? -%>
    <div class="page_admin">
      <ul>
        <li><%= link_to 'Add message', new_message_url(:protocol => 'https') %></li>
        <li><%= link_to 'Add series', new_series_url(:protocol => 'https') %></li>
        <li><%= link_to 'Add author', new_author_url(:protocol => 'https') %></li>
      </ul>
    </div>
  <% end -%>
  
  <% if @site.podcast -%>
  <div class="page_control">
    <%= link_to messages_podcast_url(:protocol => 'http'), class: 'icon feed' do %>
      <%= image_tag('rss.png') %>
    <% end -%>
  </div>
  <% end -%>
  
  <ul class="nav <%= sub_page ? 'active' : '' %>">
    <li class="<%= (@authors || @author) ? 'active' : '' %>">
      <%= link_to 'Authors/Speakers', authors_path %></li>
    <li class="<%= (@books || @book) ? 'active' : '' %>">
      <%= link_to 'Books of the Bible', books_path %></li>
  </ul>
</header>
