<% messages ||= @messages -%>
<table id="messages">
<% messages.each do |message| %>
  <tr>
    <td class="message_date"><%= message.date.relative_str %></td>
    <td><%= link_to message.title, message_path(message) %></td>
    <td class="message_verses"><%= message.verses %></td>
    <td><% if message.author %>
      <%= link_to message.author.name, author_path(message.author) %>
    <% end %></td>
    <td>
      <%= render :partial => 'messages/audio',
        :locals => {:message => message} %>
    </td>
    <td>
      <%= render :partial => 'messages/files',
        :locals => {:message => message} %>
    </td>
  </tr>
<% end %>
</table>
