<% event_date ||= false -%>
<div class="message">
  <div class="message_date">
    <% if message.date.year != Date.today.year -%>
    <div class="message_year">
      <%= message.date.year -%>
    </div>
    <% end -%>
    <% if event_date -%>
      <%= message.date.event_date %>
    <% else -%>
      <%= message.date.relative_str(false) %>
    <% end -%>
  </div>
  <div class="message_title">
    <%= link_to message.title, message_path(message) %></div>
  <div class="message_verses"><%= message.verses %></div>
  <div class="message_author">
    <% if message.author -%>
      <%= link_to message.author.name, author_path(message.author) %>
    <% end -%>
  </div>
  <div class="message_files">
    <%= render :partial => 'messages/files',
      :locals => {:message => message, :skipCaptioned => true} %>
  </div>
</div>
