<div id="more_messages">
  <%= form_tag messages_path(), :method => :get, :class => 'messages_date inline_controls' do %>
    <select name="date">
      <%= options_for_select(@years, :selected=>@year) %>
    </select>
    <%= submit_tag 'go' %>
  <% end %>
  <%= link_to('more ...', messages_path(:date => @back_date),
    :id => 'more_control', :remote => true) -%>
  <%= link_to('back to top', "#top",
    :id => 'top_control') -%>
  
  <div id="messages_loading" style="display: none">
    <div id="messages_loading_text">
      Loading <%= "." * 200 %> ?
    </div>
  </div>
</div>

<%= javascript_tag do -%>
  $(function() {

    $('#more_control').click(function() {
      $('#more_messages > a').hide();
      $('#messages_loading').show();
    });
  });
<% end -%>
