<% message ||= @message -%>
<% unless message.video_message_files.empty? -%>
<video class="message_video" controls>
  <% message.video_message_files.each do |message_file| -%>
    <source src="<%= message_file.file.url %>"
      type="<%= message_file.file.content_type %>" />
  <% end -%>
  No video with this browser
</video>
<div class="fallback_video message_video">
  <% message.video_message_files.each do |message_file| -%>
    <%= link_to image_tag('video.png', :size => '16x16') + ' Watch',
      message_file.file.url %>
  <% end -%>
</div>
<% end -%>
<% width ||= 980 -%>
<% height ||= 552 -%>
<% message.cloud_video_message_files.each do |message_file| -%>
  <% if message_file.youtube? -%>
    <iframe class="youtube-player" type="text/html"
      width="<%= width %>" height="<%= height %>"
      src="http://www.youtube.com/embed/<%= message_file.youtube_id %>?vq=hd720"
      frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen>
    </iframe>
  <% end -%>
  <% if message_file.vimeo? -%>
    <iframe class="vimeo-player" type="text/html"
      width="<%= width %>" height="<%= height %>"
      src="http://player.vimeo.com/video/<%= message_file.vimeo_id %>?title=0&byline=0&portrait=0"
      frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
    </iframe>
  <% end -%>
<% end -%>
