<div class="edit_content">
  <section>
    <h1>Editing <%= @message.title %></h1>

    <%= render 'form' %>
  </section>

  <aside>
    <h3>Files</h3>
    <ul id="files">
      <% @message.message_files.each do |message_file| -%>
        <li>
          <%= link_to message_file.file.original_filename,
            message_file.file.url %>
          <%= message_file.file.content_type %>
          
          <%= link_to 'Delete file', message_file_path(@message, message_file),
            :confirm => 'Are you sure?', :method => :delete %>
        </li>
      <% end -%>
    </ul>
    
    <%= render :partial => 'message_files/new' %>
    
  </aside>
</div>