<% title "Edit #{@message.title}" -%>

<%= form_for(@message, :html => { class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => "Edit #{@message.title}", :cancel_path => message_url(@message)} %>

  <%= render :partial => 'form_contents', :locals => {:f => f} %>

  <div class="form__footer">
    <%= f.submit "Update", class: 'btn btn--primary' %>
  </div>

<% end %>

<%= render :partial => 'shared/delete', :locals => {:item => @message} %>
