<% title @message.title -%>

<section>
  
  <%= render partial: 'breadcrumbs' %>
  
  <header>
    <h1><%= @message.title %></h1>
    
    <% if current_user and current_user.administrator? -%>
    <div class="page_admin">
      <ul>
        <li><%= link_to 'Edit message', edit_message_path(@message) %><li>
      </ul>
    </div>
    <% end -%>
    
    <div id="message_nav">
      <% if @previous_message -%>
      <%= link_to '', message_path(@previous_message),
        class: 'icon previous', title: 'previous message' %>
      <% end -%>
      <% if @next_message -%>
      <%= link_to '', message_path(@next_message),
        class: 'icon next', title: 'next message' %>
      <% end -%>
    </div>
    
    <div id="message_details">
      <div class="message_date">
        <%= @message.date.relative_str -%>
      </div>
      <% if @message.author -%>
      <div class="message_author">
        <%= link_to @message.author.name, author_path(@message.author) %>
      </div>
      <% end -%>
      <div class="message_verses">
        <%= @message.verses %>
      </div>
      <%= render :partial => 'messages/files',
        :locals => {:skipEmbedded => true} %>
      <ol class="message_events">
        <% @message.events.each do |event| -%>
        <li>
          <%= link_to event.name, friendly_page_path(event.page),
            :class => 'event_name' %>
          <span class="event_range"><%= friendly_range(event) %></span>
        </li>
        <% end -%>
      </ol>
      <% if @message.message_set -%>
      <div class="message_series">
        Series:
        <%= link_to @message.message_set.title,
          series_path(@message.message_set) %>
      </div>
      <% end -%>
    </div>
    
  </header>
  
  <div class="message_audio">
    <%= render :partial => 'audio' %>
  </div>
  <div class="message_video">
    <%= render :partial => 'video' %>
  </div>
  
  <% if @message.image.exists? -%>
    <%= image_tag @message.image.url(:normal), :class => 'message_image' %>
  <% end -%>

  <div id="message_description">
    <%= @message.description %>
  </div>

  <div id="message_emebedded">
    <%= raw @message.emebedded_content -%>
  </div>

</section>

<%= javascript_tag do %>
  <%= render :partial => 'audios/media_fallback', :formats => [:js] -%>
  <%= render :partial => 'videos/media_fallback', :formats => [:js] -%>
<% end -%>
