<%= content_tag_for(:li, edit_audio) do %>
  <audio controls preload="metadata">
    <source src="<%= edit_audio.audio.url %>"/>
  </audio>
  <div class="footer">
    <div class="caption"><%= edit_audio.caption %></div>
    <div class="date"><%= (edit_audio.date ? l(edit_audio.date.to_date()) : '') %></div>
    <div class="author"><%= edit_audio.author %></div>
    <div class="verses"><%= edit_audio.verses %></div>
    <div class="edit_admin">
      <a href="<%= edit_page_audio_path(@page, edit_audio) %>">Edit</a>
    </div>
  </div>
<% end %>
