<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date,
      value: (@holiday.date ? l(@holiday.date, format: :default) : '') %>
  </div>
  <div class="actions">
    <%= f.submit %>
    | <%= link_to 'Cancel', holidays_path %>
    <% if @holiday.id -%>
    | <%= link_to 'Delete holiday', @holiday, data: {confirm: 'Are you sure?'},
        method: :delete %>
    <% end -%>
  </div>
<% end %>

<%= javascript_tag do -%>
  <%= render :partial => 'holidays/form_aids', :formats => [:js] %>
<% end -%>
