<% form_field ||= @form_field -%>
<% form_field_option ||= @form_field_option || edit -%>
<%= content_tag_for(:li, form_field_option, :class => 'editing') do %>
  <%= form_for(form_field_option,
    :url => form_field_option_path(@form, form_field, form_field_option),
    :remote => true) do |f| %>
  <div class="admin">
    <%= f.submit 'update' %>
    | <%= link_to 'Cancel',
      form_field_option_path(@form, form_field, form_field_option),
      :remote => true %>
  </div>
  <div class="form_field">
    <div class="field type">
      <%= f.label :type %>
      <%= f.select :option_type,
          options_for_select(FormFieldOption::TYPES,
            form_field_option.option_type), {},
            id: "option_type_#{form_field_option.id}" %>
    </div>
    <div class="field">
      <%= f.label :disabled? %>
      <%= f.check_box :disabled %>
    </div>
  </div>
  <div class="form_field">
    <div class="field">
      <%= f.label :label %><br/>
      <%= f.text_field :name %>
    </div>
    <% if form_field.monetary? -%>
    <div class="field">
      <%= f.label :value %><br/>
      <%= f.text_field :value, :size => 5 %>
    </div>
    <% end -%>
    <div id="option_size_<%= form_field_option.id %>" class="field size"
      style="<%= form_field_option.sizeable? ? '' : 'display:none' %>">
      <%= f.label :size %><br/>
      <%= f.text_field :size, :size => 5 %>
    </div>
    <div class="field">
      <%= f.label :help %><br/>
      <%= f.text_area :help, :size => "40x2" %>
    </div>
    <div class="field">
      <%= f.label :index %><br/>
      <%= f.text_field :form_field_index, :size => "2" %>
    </div>
  </div>
  <% end %>
<% end %>
