<%= content_tag_for(:li, show_option) do %>
  <div class="dynamic_form_field_option_name">
    <%= show_option.name %>
  </div>
  <div class="dynamic_form_field_option_value">
  <% case show_option.option_type -%>
    <% when FormFieldOption::FIXED -%>
    <% when FormFieldOption::FIELD -%>
      <%= text_field_tag show_option.html_name, nil,
        :size => (show_option.size ? show_option.size : '') %>
    <% when FormField::AREA -%>
      <%= text_area_tag show_option.html_name, nil,
        :size => (show_option.size ? show_option.size : '') %>
    <% when FormField::INSTRUCTIONS -%>
  <% end -%>
  </div>
  <div class="dynamic_form_field_help">
    <%= show_option.help %>
  </div>
  
  <div class="dynamic_form_field_admin">
    <%= link_to 'edit',
      edit_form_field_option_path(@form, @form_field, show_option),
      remote: true %>
    <%= link_to 'delete',
      form_field_option_path(@form, @form_field, show_option),
      data: {confirm: 'Are you sure?'}, method: :delete, remote: true %>
  </div>
<% end %>