<h1>Listing form_field_options</h1>

<table>
  <tr>
    <th>Form field</th>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @form_field_options.each do |form_field_option| %>
  <tr>
    <td><%= form_field_option.form_field_id %></td>
    <td><%= form_field_option.name %></td>
    <td><%= form_field_option.value %></td>
    <td><%= link_to 'Show', form_field_option %></td>
    <td><%= link_to 'Edit', edit_form_field_option_path(form_field_option) %></td>
    <td><%= link_to 'Destroy', form_field_option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form field option', new_form_field_option_path %>
