<p id="notice"><%= notice %></p>

<p>
  <b>Form field:</b>
  <%= @form_field_option.form_field_id %>
</p>

<p>
  <b>Name:</b>
  <%= @form_field_option.name %>
</p>

<p>
  <b>Value:</b>
  <%= @form_field_option.value %>
</p>


<%= link_to 'Edit', edit_form_field_option_path(@form_field_option) %> |
<%= link_to 'Back', form_field_options_path %>
