<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Message from <%= @from_name %> about <%= @page.name %></h1>
    <p>
      <%= @message %>
    </p>
    <p>
      Please reply to <%= @from_name %> using their email address: <%= @from_email %>
    </p>
  </body>
</html>
