<% title(@site.title) -%>
<% content_for(:content_class) {'home'}%>

<div id="hero">
  <div id="hero_list">
    <%= render :partial => "page_hero", :collection => @feature_pages %>
  </div>
</div>

<div id="home_primary">
  <%= render :partial => 'home/morroco/services' %>

  <%= render :partial => 'home/morroco/calendar' %>

  <%= render :partial => 'home/morroco/messages' %>

</div>

<%= render :partial => 'home/morroco/communities' %>

<%= render :partial => 'home/morroco/abouts' %>  
