<% args = {:page_id => @page ? @page.url : nil,
    :resource_id => @resource ? @resource.id : nil,
    :full => @full ? @full : nil,
    :months => @months ? @months : nil,
    :singular => @singular ? @singular : nil} %>
<header id="calendar_header">
  <h1 id="focus_date"><%=h @date.strftime("%B %Y") %></h1>

  <div id="calendar_controls">
  <% if (user_signed_in? and current_user.administrator?) or @full -%>
  <div id="calendar_controls_extended">
    <%= form_tag date_search_path(args), :method => :get do %>
      <% if @page -%>
        <%= hidden_field_tag :page_id, @page.url %>
      <% elsif @resource -%>
        <%= hidden_field_tag :resource_id, @resource.id %>
      <% end -%>
      <%= label_tag :date %>
      <%= text_field_tag :date, @date.strftime("%Y-%m-%d"), :size => 11 %>
      <%= label_tag :months %>
      <%= text_field_tag :months, @months, :size => 1 %>
      <%= label_tag :full? %>
      <%= check_box_tag :full, 'true', @full %>
      <%= submit_tag 'go' %>
    <% end %>
  </div>
  <% end -%>
  
  <div id="calendar_nav">
    <%= link_to '', previous_month_path(args),
      class: 'icon previous', title: 'previous month' %>
    <%= link_to 'Today', today_path(args),
      class: "today #{@isCurrent ? 'current' : ''}",
      title: 'current month' %>
    <%= link_to '', next_month_path(args),
      class: 'icon next', title: 'next month' %>
  </div>
  
  <div id="calendar_views">
    <ul>
      <li class="<%= 'grid' == view ? 'active' : '' %>">
        <%= link_to 'Grid',
          calendar_month_path(args.merge(:date => @date.strftime("%Y-%m-%d"))),
          class: 'icon grid', title: 'view in a grid' %>
      </li>
      <li class="<%= 'list' == view ? 'active' : '' %>">
        <%= link_to 'List',
          calendar_list_path(args.merge(:date => @date.strftime("%Y-%m-%d"))),
          class: 'icon list', title: 'view in a list' %>
      </li>
    </ul>
  </div>
  </div>
  
</header>
