<% args = {:page_id => @page ? @page.url : nil,
    :resource_id => @resource ? @resource.id : nil,
    :full => @full ? @full : nil,
    :singular => @singular ? @singular : nil} %>
<header id="calendar_header">
  <h2 id="focus_date"><%=h @date.strftime("%B %Y") %></h2>

  <% if (user_signed_in? and current_user.administrator?) or @full -%>
  <div id="calendar_controls_extended">
    <%= form_tag date_search_path(args), :method => :get do %>
      <% if @page -%>
        <%= hidden_field_tag :page_id, @page.url %>
      <% elsif @resource -%>
        <%= hidden_field_tag :resource_id, @resource.id %>
      <% end -%>
      Date:
      <%= text_field_tag :date, @date.strftime("%Y-%m-%d"), :size => 11 %>
      Months:
      <%= text_field_tag :months, @months, :size => 1 %>
      Full?:
      <%= check_box_tag :full, 'true', @full %>
      <%= submit_tag 'go' %>
    <% end %>
  </div>
  <% end -%>
  
  <div id="calendar_nav">
    <%= link_to image_tag('left.png'), previous_month_path(args),
      :class => 'icon' %>
    <%= link_to "Today", today_path(args) %>
    <%= link_to image_tag('right.png'), next_month_path(args),
      :class => 'icon' %>
  </div>
  
  <div id="calendar_views">
    <ul>
      <li class="<%= 'grid' == view ? 'active' : '' %>">
        <%= link_to 'Grid',
          calendar_path(args.merge(:date => @date.strftime("%Y-%m-%d"))) %></li>
      <li class="<%= 'list' == view ? 'active' : '' %>">
        <%= link_to 'List',
          calendar_list_path(args.merge(:date => @date.strftime("%Y-%m-%d"))) %></li>
    </ul>
  </div>
  
</header>
