<% args = {:page_id => @page ? @page.url : nil,
    :resource_id => @resource ? @resource.id : nil,
    :full => @full ? @full : nil} %>
<section>
  
  <% if @page -%>
    <%= render :partial => 'pages/header',
      :locals => {:active_aspect => 'calendar'} %>
  <% elsif @resource -%>
    <%= render :partial => 'resources/header',
      :locals => {:active_aspect => 'calendar'} %>
  <% end -%>
  
  <header id="calendar_header">
    <h2 id="focus_date">
    <%= @date.strftime("%A") %>
    <%= link_to @date.strftime("%B"),
      calendar_path(args.merge(:date => @date.strftime("%Y-%m-%d"))) %>
    <%= @date.day.ordinalize %>
    <%= @date.strftime("%Y") %>
    </h2>
    
    <div id="calendar_controls">
      <% if (user_signed_in? and current_user.administrator?) or @full -%>
      <div id="calendar_controls_extended">
        <%= form_tag calendar_day_path(args.merge(
          :date => @date.strftime("%Y-%m-%d"))), :method => :get do %>
          <% if @page -%>
            <%= hidden_field_tag :page_id, @page.url %>
          <% elsif @resource -%>
            <%= hidden_field_tag :resource_id, @resource.id %>
          <% end -%>
          <%= label_tag :date %>
          <%= text_field_tag :date, @date.strftime("%Y-%m-%d"), :size => 11 %>
          <%= label_tag :full? %>
          <%= check_box_tag :full, 'true', @full %>
          <%= submit_tag 'go' %>
        <% end %>
      </div>
      <% end -%>
      
    <div id="calendar_nav">
      <%= link_to '', previous_day_path(args),
        class: 'icon previous', title: 'previous day' %>
      <%= link_to '', today_path(args),
        class: "icon today #{@isCurrent ? 'current' : ''}",
        title: 'today' %>
      <%= link_to '', next_day_path(args),
        class: 'icon next', title: 'next day' %>
    </div>
    </div>
  </header>
  
<table id="calendar_list">
  <% @events.each do |event| -%>
  <tr>
    <!--td class="day"><%= event.start_at.day.ordinalize %></td>
    <td class="week_day"><%= event.start_at.strftime("%A") %></td-->
    <td class="time"><%= event.start_at.simple_time %></td>
    <% if @full -%>
    <td>- <%= event.stop_at.simple_time %></td>
    <% end -%>
    <td class="name"><%= event_link(event) %></td>
    <td>
      <% if event.page and event.name != event.page.name and
        (not @page or event.page != @page) -%>
        <%= h(event.page.name) %>
      <% end -%>
    </td>
    <% if @full -%>
    <td>
      <%= event.reservations.map{|r| r.resource.name}.join(', ') %>
    </td>
    <% end -%>
  </tr>
  <% end -%>
</table>

<% if @events.empty? -%>
<p class="empty_indicator">No events</p>
<% end -%>

</section>

