<% title(@date.strftime("%B %Y")) -%>

<% content_for :breadcrumbs do -%>
  <div id="breadcrumbs">
    <ul>
      <% if @page -%>
        <li><%= link_to @page.name, friendly_page_path(@page) %></li>
      <% elsif @resource -%>
        <li><%= link_to @resource.name, resource_path(@resource) %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<section>

  <% if @page and false -%>
    <header>
      <h1 class="active">
        <%= link_to @page.name, friendly_page_path(@page) %></h1>
    </header>
  <% elsif @resource and false -%>
    <header>
      <h1 class="active">
        <%= link_to @resource.name, resource_path(@resource) %></h1>
    </header>
  <% end -%>

  <%= render :partial => 'controls', :locals => {:view => 'list'} %>

<table id="calendar_list">
  <% prior_date = nil -%>
  <% @events.each do |event| -%>
    <% new_day = (! prior_date or prior_date.day != event.start_at.day) -%>
    <% new_month = (prior_date and prior_date.month != event.start_at.month) -%>
    <% if new_day or new_month -%>
      <tr class="new_day2"><td colspan="7">
        <% if new_month -%>
          <div class="new_month">
            <%= event.start_at.strftime("%B %Y") %>
          </div>
        <% end -%>
      </td></tr>
    <% end -%>
  <tr class="<%= (new_day || new_month) ? 'new_day' : '' %>">
    <td class="day">
      <% if new_day or new_month -%>
        <%= link_to event.start_at.day, calendar_day_path(:date => event.start_at.to_date,
          :page_id => @page ? @page.url : nil,
          :full => @full ? @full : nil) %>
        <!--%= event.start_at.day %-->
      <% end -%>
    </td>
    <td class="week_day">
      <% if new_day or new_month -%>
        <%= event.start_at.strftime("%A") %>
      <% end -%>
    </td>
    <% if mobile_device? -%>
  </tr>
  <tr>
    <% end -%>
    <td class="time <%= @full ? 'first' : '' %>">
      <%= event.start_at.simple_time %></td>
    <% if @full -%>
    <td class="time">- <%= event.stop_at.simple_time %></td>
    <% end -%>
    <td class="name"><%= event_link(event) %></td>
    <td class="page">
      <% if event.page and event.name != event.page.name and
        (not @page or event.page != @page) -%>
        <%= h(event.page.name) %>
      <% end -%>
    </td>
    <td class="reservations">
      <% if @full -%>
      <%= event.reservations.map{|r| r.resource.name}.join(', ') %>
      <% end -%>
    </td>
  </tr>
  <% prior_date = event.start_at -%>
  <% end -%>
</table>

<% if @events.empty? -%>
<p class="empty_indicator">No events</p>
<% end -%>

</section>
