<% title("PBC - " + @date.strftime("%B %Y")) -%>

<section>
  
  <% if @page -%>
    <%= render :partial => 'pages/header',
      :locals => {:active_aspect => 'calendar'} %>
  <% elsif @resource -%>
    <%= render :partial => 'resources/header',
      :locals => {:active_aspect => 'calendar'} %>
  <% end -%>
  
  <%= render :partial => 'controls', :locals => {:view => 'list'} %>

<table id="calendar_list">
  <% prior_date = @date -%>
  <% @events.each do |event| -%>
    <% new_day = (prior_date.day != event.start_at.day) -%>
    <% new_month = (prior_date.month != event.start_at.month) -%>
    <% if new_day -%>
      <tr class="new_day2"><td colspan="7">
        <% if new_month -%>
          <div class="new_month">
            <%= event.start_at.strftime("%B %Y") %>
          </div>
        <% end -%>
      </td></tr>
    <% end -%>
  <tr class="<%= new_day ? 'new_day' : '' %>">
    <td class="day">
      <% if new_day -%>
        <%= event.start_at.day %>
      <% end -%>
    </td>
    <td class="week_day">
      <% if new_day -%>
        <%= event.start_at.strftime("%A") %>
      <% end -%>
    </td>
    <td class="time <%= @full ? 'first' : '' %>">
      <%= event.start_at.simple_time %></td>
    <% if @full -%>
    <td class="time">- <%= event.stop_at.simple_time %></td>
    <% end -%>
    <td class="name"><%= link_to event.name,
      friendly_page_path(event.page) %></td>
    <td>
      <% if event.name != event.page.name and
        (not @page or event.page != @page) -%>
        <%= h(event.page.name) %>
      <% end -%>
    </td>
    <td>
      <% if @full -%>
      <%= event.reservations.map{|r| r.resource.name}.join(', ') %>
      <% end -%>
    </td>
  </tr>
  <% prior_date = event.start_at -%>
  <% end -%>
</table>

<% if @events.empty? -%>
<p class="empty_indicator">No events</p>
<% end -%>

</section>
