<% title(@date.strftime("%B %Y")) -%>

<section>
  
  <% if @page -%>
    <header>
      <h1 class="active">
        <%= link_to @page.name, friendly_page_path(@page) %></h1>
    </header>
  <% elsif @resource -%>
    <header>
      <h1 class="active">
        <%= link_to @resource.name, resource_path(@resource) %></h1>
    </header>
  <% end -%>
  
  <%= render :partial => 'controls', :locals => {:view => 'grid'} %>
  
  <table id="calendar">

    <tr>
      <% %w(Sunday Monday Tuesday Wednesday Thursday Friday Saturday).each do |day| -%>
        <th><%= day %></th>
      <% end -%>
    </tr>
    
    <% @calendar.weeks.each do |week| -%>
    <tr>
      <% week.days.each do |day| -%>
      <td <%= raw date_class(day, @date) %> >
        <div class="date">
          <% if 1 == day.date.day %>
            <span class="month"><%= day.date.strftime("%B") %></span>
          <% end -%>
          <%= link_to day.date.day, calendar_day_path(:date => day.date,
            :page_id => @page ? @page.url : nil) %>
        </div>
    		<div id="day-<%= day.date.strftime("%Y-%m-%d") %>">
        	<ul>
            <% for event in day.events %>
              <li><%= link_to h(event.name),
                friendly_page_path(event.page) %></li>
            <% end %>
          </ul>
    		</div>
    		<% if not day.holidays.empty? -%>
    		  <div class="holiday"><%= day.holidays.first.name %></div>
    		<% end -%>
      </td>
      <% end -%>
    </tr>
    <% end -%>

  </table>
  
  <div class="help">
    Other events can be found on the calendars of individual communities.
  </div>
  

</section>
