<section>
  
  <%= render :partial => 'site/header' %>
  
<%= paginate @audit_logs %>

<table id="audit_logs" class="index">
  <tbody>
<% @audit_logs.each do |audit_log| %>
  <tr>
    <td><%= audit_log.created_at %></td>
    <td>
      <% if audit_log.user -%>
        <%= audit_log.user.name %>
      <% end -%>
    </td>
    <td>
      <%= audit_log.auditable_type %>
    </td>
    <td>
      <% if audit_log.auditable -%>
        <%= link_to_audited_item(audit_log) %>
      <% else -%>
        <%= audit_log.auditable_id %>
      <% end -%>
    </td>
    <td>
      <% if audit_log.auditable and audit_log.auditable['page'] -%>
        in <%= link_to audit_log.auditable.page.name,
          friendly_page_path(audit_log.auditable.page) %>
      <% end -%>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

</section>
