<% title("Audit Log") -%>

<section>
  
  <%= render :partial => 'site/header' %>

<table id="audit_logs" class="index">
  <tbody>
<% @records.each do |item| %>
  <tr class="audit_log_item">
    <td><%= item.updated_at.relative_str %></td>
    <td><%= item.updated_at.simple_time %></td>
    <td>
      <% if item.updated_by -%>
        <%= item.updated_by.name %>
      <% end -%>
    </td>
    <td>
      <%= item.class.model_name.human %>
    </td>
    <td>
      <%= link_to_audited_item(item) %>
    </td>
    <td>
      <% if item.is_a?(Event) -%>
        <% contextual_times(item).each do |timestamp| -%>
          <div class="event_range">
            <%= timestamp %>
          </div>
        <% end -%>
      <% end -%>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

</section>
