<ul id="conversations_list">
  <% @page.conversations.each do |conversation| -%>
    <li class="conversation">
      <div class="details">
        <div class="poster">
          <%= conversation.user.name %>
        </div>
        <div class="timestamp">
          <%= time_ago_in_words(conversation.created_at) %> ago
        </div>
        <% if current_user.administrator? or conversation.user == current_user -%>
          <div class="admin">
            <%= link_to 'Edit',
              edit_page_conversation_path(@page, conversation) %>
            <%= link_to 'Delete', [@page, conversation],
            :confirm => 'Are you sure?', :method => :delete %>
          </div>
        <% end -%>
      </div>
      
      <%= raw conversation.text %>
      
      <ul id="comments_<%= conversation.id %>" class="comments">
        <% conversation.comments.each do |comment | -%>
          <%= render :partial => 'comments/show', :locals => {:comment => comment} %>
        <% end -%>
      </ul>
      
      <div class="new_comment">
        <%= link_to 'add comment', '', :class => 'new_comment' %>
        <% new_comment = conversation.comments.build -%>
        <%= form_for(new_comment, :url => [@page, conversation, new_comment],
          :remote => true) do |f| %>
          <%= f.hidden_field :conversation_id %>
          <div class="field">
            <%= f.text_area :text, :size => '60x2' %>
          </div>
          <div class="actions">
            <%= f.submit 'Add Comment' %>
            | <%= link_to 'Cancel', '', :class => 'cancel' %>
          </div>
        <% end %>
      </div>
    </li>
  <% end -%>
</ul>

<%= javascript_tag do %>
  <%= render :partial => 'conversations/admin.js' %>
<% end %>
