<%= form_for(@newsletter) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
      <% @newsletter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br />
    <%= f.text_field :published_at,
      :value => l(@newsletter.published_at) %>
  </div>
  <div class="field">
    <%= f.label :email_list %><br />
    <%= f.collection_select :email_list, @email_lists, :name, :name,
      {:include_blank => 'none'}, {:class => 'email_list'} %>
  </div>
  <div class="field">
    <%= f.label :featured_page %><br />
    <%= f.collection_select :featured_page_id, @pages, :id, :name,
      {:include_blank => 'none'}, {:class => 'page'} %>
  </div>
  <div class="field">
    <%= f.label :featured_event %><br />
    <%= f.collection_select :featured_event_id, @events, :id, :name,
      {:include_blank => 'none'}, {:class => 'event'} %>
  </div>
  <div class="field">
    <%= f.label :window %><br />
    <%= f.number_field :window, {:size => 2} %> weeks
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note, :size => '60x4' %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
    <% if @newsletter.id -%>
    | <%= link_to 'Cancel', newsletter_path(@newsletter) %>
    <% else -%>
    | <%= link_to 'Cancel', newsletters_path %>
    <% end -%>
    <% if @newsletter.id -%>
    | <%= link_to 'Delete newsletter', @newsletter, data: {confirm: 'Are you sure?'},
        method: :delete %>
    <% end -%>
  </div>
<% end %>

