<% title "Edit #{@newsletter.full_name}" -%>

<%= form_for(@newsletter, :html => { class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => "Edit #{@newsletter.name}",
    :cancel_path => newsletter_path(@newsletter)} %>

  <%= render :partial => 'form_contents', :locals => {:f => f} %>

  <div class="form__footer">
    <%= f.submit "Update", class: 'btn btn--primary' %>
  </div>

<% end %>

<%= render :partial => 'shared/delete', :locals => {:item => @newsletter} %>
