<% form_field ||= @form_field -%>
<%= form_for(form_field, :url => form_field_path(@form, form_field),
  :remote => true) do |f| %>
  <% if form_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_field.errors.count, "error") %> prohibited this form_field from being saved:</h2>

      <ul>
      <% form_field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :form_id %>
  <div class="admin">
    <%= f.submit 'update' %>
    | <%= link_to 'Cancel', form_field_path(@form, form_field),
      :remote => true %>
  </div>
  
  <div class="form_field header">
    <div class="field type">
      <!-- rails select doesn't honor an :id parameter :( -->
      <%= f.select :field_type, options_for_select(FormField::TYPES,
        form_field.field_type), {}, :id => "field_type_#{form_field.id}" %>
    </div>
    <div class="field required">
      <%= f.check_box :required %>
      <%= f.label :required? %>
    </div>
    <div class="field monetary">
      <%= f.check_box :monetary %>
      <%= f.label :monetary? %>
    </div>
    <div class="field dense">
      <%= f.check_box :dense %>
      <%= f.label :dense? %>
    </div>
  </div>
  
  <div class="form_field">
    <div class="field name">
      <%= f.label :label %><br />
      <%= f.text_field :name %>
    </div>
  
    <div id="field_size_<%= form_field.id %>"
      class="field size <%= form_field.sizeable? ? '' : 'inactive' %>">
      <%= f.label :size %><br />
      <%= f.text_field :size, :size => 2 %>
    </div>
    
    <div id="field_limit_<%= form_field.id %>"
      class="field limit <%= form_field.limitable? ? '' : 'inactive' %>">
      <%= f.label :limit %><br />
      <%= f.text_field :limit, :max => 1000, :min => 0, :type => 'number' %>
    </div>
  
    <div id="field_value_<%= form_field.id %>"
      class="field value <%= form_field.has_value? ? '' : 'inactive' %>">
      <%= f.label :value %><br />
      <%= f.text_field :value, :size => 5 %>
    </div>
  
    <div class="field prompt <%= form_field.promptable? ? '' : 'inactive' %>">
      <%= f.label :prompt %><br />
      <%= f.text_field :prompt, :size => 80 %>
    </div>
    
    <div class="field help">
      <%= f.label :help %><br />
      <%= f.text_area :help, :size => '80x2' %>
    </div>
    
  </div>
  
<% end %>

<div id="options_<%= form_field.id %>"
  class="edit_options <%= form_field.has_options? ? 'active' : '' %>">
  <%= render :partial => 'form_field_options/edit_batch',
    :locals => {:form_field => form_field} %>
</div>
