<%= content_tag_for(:li, show_field) do %>
<div class="dynamic_form_field_name">
  <%= show_field.name %>
</div>

<div class="dynamic_form_field_value">
<% case show_field.field_type -%>
  <% when FormField::FIELD -%>
    <% if show_field.monetary? %>$<% end -%>
    <%= text_field_tag show_field.html_name, nil,
      :size => (show_field.size ? show_field.size : '') %>
  <% when FormField::AREA -%>
    <%= text_area_tag show_field.html_name, nil,
      :size => (show_field.size ? show_field.size : '') %>
  <% when FormField::SINGLE_CHOICE -%>
    <ul>
      <% show_field.form_field_options.each do |option| -%>
      <li class="dynamic_form_option">
        <%= radio_button_tag show_field.html_name, option.name %>
        <% if show_field.monetary? %>$<% end -%>
        <%= option.name %>
      </li>
      <% end -%>
    </ul>
  <% when FormField::MULTIPLE_CHOICE -%>
    <ul>
      <% show_field.form_field_options.each do |option| -%>
      <li class="dynamic_form_option">
        <%= check_box_tag option.html_name, option.name %>
        <% if show_field.monetary? %>$<% end -%>
        <%= option.name %>
      </li>
      <% end -%>
    </ul>
  <% when FormField::INSTRUCTIONS -%>
<% end -%>
</div>

<div class="dynamic_form_field_help">
  <%= raw show_field.help %>
</div>

<div class="dynamic_form_field_admin">
  <%= link_to 'edit', edit_form_field_path(@form, show_field),
    :remote => true %>
  <%= link_to 'delete', form_field_path(@form, show_field),
    :confirm => 'Are you sure?', :method => :delete, :remote => true %>
</div>

<% end %>
