<% form_field ||= @form_field || show -%>
<%= content_tag_for(:li, form_field) do %>
<% if FormField::INSTRUCTIONS == form_field.field_type and
    form_field.help.empty? -%>
  <h2 class="dynamic_form_field_name">
    <%= form_field.name %>
  </h2>
<% else -%>
  <div class="dynamic_form_field_name">
    <%= form_field.name %>
  </div>
<% end -%>

<% if form_field.prompt and not form_field.prompt.empty? -%>
<div class="dynamic_form_field_prompt">
  <%= form_field.prompt %>
</div>
<% end -%>

<div class="dynamic_form_field_value">
<% case form_field.field_type -%>
  <% when FormField::SINGLE_LINE, FormField::FIELD -%>
    <% if form_field.monetary? %>$<% end -%>
    <%= text_field_tag form_field.html_name, nil,
      :size => (form_field.size ? form_field.size : '') %>
  <% when FormField::MULTIPLE_LINES, FormField::AREA -%>
    <%= text_area_tag form_field.html_name, nil,
      :size => (form_field.size ? form_field.size : '') %>
  <% when FormField::SINGLE_CHOICE -%>
    <ul>
      <% form_field.form_field_options.each do |option| -%>
      <li class="dynamic_form_option">
        <%= radio_button_tag form_field.html_name, option.name, false, disabled: option.disabled? %>
        <%= form_field_option_text(form_field, option) %>
      </li>
      <% end -%>
    </ul>
  <% when FormField::MULTIPLE_CHOICE -%>
    <ul>
      <% form_field.form_field_options.each do |option| -%>
      <li class="dynamic_form_option">
        <%= check_box_tag option.html_name, option.name, false, disabled: option.disabled? %>
        <%= form_field_option_text(form_field, option) %>
      </li>
      <% end -%>
    </ul>
  <% when FormField::COUNT -%>
    <%= number_field_tag form_field.html_name, nil,
      :size => (form_field.size ? form_field.size : '') %>
    <% if form_field.monetary? %>$<% end -%><%= form_field.value %>
  <% when FormField::INSTRUCTIONS -%>
<% end -%>
</div>

<div class="dynamic_form_field_help">
  <%= raw form_field.help %>
</div>

<div class="dynamic_form_field_admin">
  <%= link_to 'edit', edit_form_field_path(@form, form_field),
    remote: true %>
  <%= link_to 'copy', copy_form_field_path(@form, form_field),
    remote: true, method: :post %>
  <%= link_to 'delete', form_field_path(@form, form_field),
    data: {confirm: 'Are you sure?'}, method: :delete, remote: true %>
</div>

<% end %>
