<% content_for :breadcrumbs do -%>
  <div id="breadcrumbs">
    <ul>
      <li><%= link_to 'Message Library', messages_path %></li>
      <li><%= link_to 'Authors/Speakers', authors_path %></li>
    </ul>
  </div>
<% end -%>

<section>
  
  <header>
    <h1 id="author_title"><%= @author.name %></h1>
    
    <% if current_user and current_user.administrator? -%>
    <div class="page_admin">
      <ul>
        <li><%= link_to 'Edit author', edit_author_path(@author) %><li>
      </ul>
    </div>
    <% end -%>
  </header>
  
  <% if @author.description and not @author.description.empty? -%>
  <p><%= @author.description %></p>
  <% end -%>

  <div id="messages">
    <%= render :partial => 'messages/messages',
      :locals => {:messages => @messages} %>
  </div>
  
</section>
