<% title "Change Password" -%>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
:html => { :method => :put, class: "form form--compact" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => 'Change Password', :cancel_path => root_path} %>

  <div class="form__contents">

    <%= devise_error_messages! %>

    <fieldset>
      <ul class="form__fields list-bare">
        <li class="form__field">
          <%= f.label :current_password %>
          <%= f.password_field :current_password %>
        </li>
        <li class="form__field">
          <%= f.label :new_password %>
          <%= f.password_field :password %>
        </li>
        <li class="form__field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </li>
      </ul>
    </fieldset>
  </div>

  <div class="form__footer">
    <%= f.submit "Update", class: 'btn btn--primary' %>
  </div>
<% end %>
