<% title('Sign Up') -%>

<%= form_for(resource, :as => resource_name,
  :url => registration_path(resource_name),
  :html => { class: "form form--compact"}) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => 'Sign Up', :cancel_path => root_path} %>

  <div class="form__contents">
    <%= devise_error_messages! %>
    <fieldset>
      <ul class="form__fields list-bare">
        <li class="form__field" id="sign_up_email_confirmation">
          <%= f.label :email %>
          <%= f.text_field :email_confirmation %>
        </li>
        <li class="form__field" id="sign_up_name">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>
        <li class="form__field" id="sign_up_email">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </li>
        <li class="form__field" id="sign_up_password">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </li>
        <li class="form__field" id="sign_up_password_confirmation">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </li>
      </ul>
    </fieldset>
  </div>

  <div class="form__footer">
    <%= f.submit "Sign up", class: 'btn btn--primary' %>
    <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>
