<% content_for(:scripts) do -%>
  <%= render :partial => 'hyper_style', :formats => [:css] %>
<% end -%>

<canvas datasrc="/hyper/index.pjs" width="1040" height="800"></canvas>

<h1 id="hyper_title">!!!!! Welcome to PBC !!!!!</h1>

<audio autoplay>
  <source src="http://<%= request.host_with_port %>/audios/hyper.m4a"/>
  <source src="http://<%= request.host_with_port %>/audios/hyper.mp3"/>
</audio>

<div id="hyper_photos">
  <% @photos.each_with_index do |photo, index| -%>
    <div class="photo photo_<%= index %>">
      <%= image_tag photo.photo.url(:normal) %>
    </div>
  <% end -%>
</div>
