<%= content_tag_for(:li, edit_video,
  :class => ((edit_video == @video) ? 'active' : '')) do %>
  <% if edit_video.video.exists? or edit_video.video2.exists? -%>
    <video controls>
      <% if edit_video.video.exists? -%>
      <source src="<%= edit_video.video.url %>"/>
      <% end -%>
      <% if edit_video.video2.exists? -%>
      <source src="<%= edit_video.video2.url %>"/>
      <% end -%>
    </video>
  <% elsif edit_video.youtube_id and not edit_video.youtube_id.empty? -%>
    <iframe class="youtube-player" type="text/html" width="300" height="225"
      src="http://www.youtube.com/embed/<%= edit_video.youtube_id %>"
      frameborder="0">
    </iframe>
  <% elsif edit_video.vimeo_id and not edit_video.vimeo_id.empty? -%>
    <iframe class="vimeo-player" type="text/html" width="300" height="225"
      src="http://player.vimeo.com/video/<%= edit_video.vimeo_id %>?title=0&byline=0&portrait=0"
      frameborder="0">
    </iframe>
  <% end -%>
  <div class="footer">
    <div class="caption"><%= edit_video.caption %></div>
    <div class="edit_admin">
      <a href="<%= edit_page_video_path(@page, edit_video) %>">Edit</a>
    </div>
  </div>
<% end %>
