<%= content_tag_for(:li, edit_video,
  :class => ((edit_video == @video) ? 'active' : '')) do %>
  <% if edit_video.video.exists? -%>
    <video controls>
      <source src="<%= edit_video.video.url %>"/>
    </video>
  <% elsif edit_video.youtube_id and not edit_video.youtube_id.empty? -%>
    <iframe class="youtube-player" type="text/html" width="400" height="300"
      src="http://www.youtube.com/embed/<%= edit_video.youtube_id %>"
      frameborder="0">
    </iframe>
  <% end -%>
  <div class="footer">
    <div class="caption"><%= edit_video.caption %></div>
    <div class="page_admin">
      <a href="<%= edit_page_video_path(@page, edit_video) %>">Edit</a>
    </div>
  </div>
<% end %>
