<% if video.video.exists? -%>
<% width ||= 400 -%>
<% height ||= 300 -%>
  <video controls>
    <source src="<%= video.video.url %>"/>
  </video>
<% elsif video.youtube_id and not video.youtube_id.empty? -%>
  <iframe class="youtube-player" type="text/html"
    width="<%= width %>" height="<%= height %>"
    src="http://www.youtube.com/embed/<%= video.youtube_id %>"
    frameborder="0">
  </iframe>
<% end -%>
<div class="caption"><%= video.caption %></div>
