<h1>Listing videos</h1>

<table>
  <tr>
    <th>Caption</th>
    <th>Video file name</th>
    <th>Video content type</th>
    <th>Video file size</th>
    <th>Video updated at</th>
    <th>Page</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.caption %></td>
    <td><%= video.video_file_name %></td>
    <td><%= video.video_content_type %></td>
    <td><%= video.video_file_size %></td>
    <td><%= video.video_updated_at %></td>
    <td><%= video.page_id %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
