<% title(@site.title) -%>
<% content_for(:content_class) {'home'}%>

<div id="hero">
  <div id="hero_list">
    <%= render partial: "page_hero", collection: @feature_pages %>
  </div>
</div>

<div id="home_primary">
  <div>
    <%= render partial: 'home/morocco/services' %>

    <% if @site and @site.library? -%>
    <%= render partial: 'home/morocco/messages' %>
    <% end -%>
  </div>
  
  <% if @site and @site.calendar? -%>
  <%= render partial: 'home/morocco/calendar' %>
  <% end -%>

</div>

<% @site_primary_pages.each do |page| -%>
<%= render partial: 'home/morocco/pages', locals: {page: page} %>
<% end -%>
