<% title "Edit #{@library.name}" -%>

<%= form_for(@library, :html => { class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => "Edit #{@library.name}",
    :cancel_path => @context_url,
    :message => @message} %>

  <%= render :partial => 'form_contents', :locals => {:f => f} %>

  <div class="form__footer">
    <%= f.submit "Update", class: 'btn btn--primary' %>
  </div>

<% end %>

<% if @page_element -%>
<%= render :partial => 'page_elements/delete' %>
<% end -%>

<% hidden = @page ? hidden_field_tag(:page_id, @page.id) : nil -%>
<%= render :partial => 'shared/delete',
  :locals => {:item => @library, :url => [@library], :hidden => hidden} %>
