<div class="field">
  <%= label_tag :feature_order %>
  <%= hidden_field_tag 'feature_order',
    @featured_pages.map{|c| c.id}.join(', '),
    :id => 'feature_order' %>
  <ul id="indexer">
    <% @featured_pages.each do |featured_page| -%>
      <li id="<%= featured_page.id %>"
        class="<%= featured_page == @page ? 'active' : ''%>">
        <%= featured_page.name %></li>
    <% end -%>
  </ul>
</div>

<%= javascript_tag do %>
  <%= render :partial => 'indexer.js' -%>
<% end -%>
