<%= content_tag_for(:li, featured_page) do %>
  <div class="featured_nav_image">
    <% if featured_page.style and featured_page.style.feature_strip.exists? then %>
  	  <%= image_tag featured_page.style.feature_strip.url(:normal) %><br />
    <% end %>
  </div>
  <div class="featured_nav_name"
    style="<%= raw (featured_page.style ? featured_page.style.css : '') %>">
    <%= link_to featured_page.name, friendly_page_path(featured_page) %>
  </div>
  <div class="featured_nav_phrase">
    <%= raw featured_page.feature_phrase %>
  </div>
  <div class="featured_nav_link">
    <%= link_to 'Learn More', friendly_page_path(featured_page) %>
  </div>
  
<% end %>
