<%= content_tag_for(:li, feature_page, :feature) do %>
  <div class="feature_nav_image">
    <% if feature_page.style and feature_page.style.feature_strip.exists? then %>
  	  <%= image_tag feature_page.style.feature_strip.url(:normal).gsub(' ', '%20') %>
  	  <% if feature_page.feature_upcoming? -%>
	      <%= image_tag 'upcoming.png' %>
	    <% end -%>
    <% end %>
  </div>
  <div class="feature_nav_name"
    style="<%= raw (feature_page.style ? feature_page.style.css : '') %>">
    <%= link_to feature_page.name, friendly_page_path(feature_page) %>
  </div>
  <div class="feature_nav_phrase">
    <%= raw feature_page.feature_phrase %>
  </div>
  <div class="feature_nav_link">
    <%= link_to 'Learn More', friendly_page_path(feature_page) %>
  </div>
  
<% end %>
