<%= form_for(@page, :url => page_feature_path(@page)) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="regular_content">
    <section>
      <div class="field">
        <%= f.label :feature_phrase %><br/>
        <span class="help">The short text when featured. Keep it to about 15 words for the home page.</span>
        <br />
        <%= f.text_field :feature_phrase, :size => '80' %>
      </div>
      <div class="field">
        <%= f.label :hero_text %><br/>
        <span class="help">The text overlaying the hero image on the home page.</span>
        <br />
        <%= f.text_area :hero_text, :size => '80x20', :class => 'textedit' %>
      </div>
    </section>

    <aside class="regular_aside">
      <div class="form">
        <div class="field">
          <%= f.label :on_parent_page?, :class => 'inline' %>
          <%= f.check_box :parent_feature %>
        </div>
        <div id="parent_feature_indexer"
          <%= raw @page.parent_feature? ? '' : 'style="display:none"' %>>
          <%= render :partial => 'parent_feature_indexer' -%>
        </div>
        
        <div class="field">
          <%= f.label :on_home_page?, :class => 'inline' %>
          <%= f.check_box :home_feature %>
        </div>
        <div class="field">
          <%= f.label :upcoming?, :class => 'inline' %>
          <%= f.check_box :feature_upcoming %>
        </div>
        <div id="home_feature_indexer"
          <%= raw @page.home_feature? ? '' : 'style="display:none"' %>>
          <%= render :partial => 'home_feature_indexer' -%>
        </div>
      </div>
    </aside>
  </div>
  
  <div class="actions">
    <%= f.submit %>
    <%= render 'pages/cancel_controls' %>
  </div>
  
<% end %>

<%= javascript_tag do %>
  <%= render :partial => 'pages/text_editor.js' -%>
  <%= render :partial => 'home_feature_indexer.js' -%>
  <%= render :partial => 'parent_feature_indexer.js' -%>
  <%= render :partial => 'pages/form_aids.js' -%>
<% end -%>
