<%= content_tag_for(:div, page_hero, :class => 'slide') do %>
  <% if page_hero.style -%>
    <div class="hero_background">
      <%= image_tag page_hero.style.hero.url(:normal) %>
    </div>
  <% end -%>
  <div id="hero_text"
    style="color: #<%= page_hero.style.hero_text_color.to_s(16) %>">
    <h2><%= link_to page_hero.name, friendly_page_path(page_hero) %></h2>
    
    <%= raw page_hero.hero_text %>
  </div>
<% end %>
