<div class="field">
  <%= label_tag :parent_feature_order %>
  <%= hidden_field_tag 'parent_feature_order',
    @parent_feature_pages.map{|c| c.id}.join(', '),
    :id => 'parent_feature_order' %>
  <ul id="parent_indexer">
    <% @parent_feature_pages.each do |feature_page| -%>
      <li id="<%= feature_page.id %>"
        class="<%= feature_page == @page ? 'active' : ''%>">
        <%= feature_page.name %></li>
    <% end -%>
  </ul>
</div>

<%= javascript_tag do %>
  <%= render :partial => 'parent_indexer', :formats => [:js] -%>
<% end -%>
