<header>
  
  <h1 class="<%= active_aspect == 'event' ? 'active' : '' %>">
    <% if @event.id -%>
      <%= link_to @event.name, edit_page_event_path(@page, @event) %>
    <% else -%>
      Add Event
    <% end -%>
  </h1>
  
  <% if @event.id -%>
  <ul class="nav">
    <li class="<%= active_aspect == 'reservations' ? 'active' : '' %>">
      <%= link_to 'Reservations' +
        (@event.reservations.empty? ? '' :
          " (#{@event.reservations.count})"),
        page_event_reservations_path(@page, @event) %>
    </li>
    <li class="<%= active_aspect == 'recurrence' ? 'active' : '' %>">
      <%= link_to 'Recurrence' +
        (@event.peers.count <= 1 ? '' :
          " (#{@event.peers.count})"),
          page_event_recurrence_path(@page, @event) %>
    </li>
    <% if @event.peers.count <= 1 -%>
    <li class="<%= active_aspect == 'invitations' ? 'active' : '' %>">
      <%= link_to 'Invitations' +
        (@event.invitations.empty? ? '' :
          " (#{@event.invitations.count})"),
          page_event_invitations_path(@page, @event) %>
    </li>
    <% end -%>
    <li class="<%= active_aspect == 'share' ? 'active' : '' %>">
      <%= link_to 'Share' +
        (@event.shared_pages.count <= 1 ? '' :
          " (#{@event.shared_pages.count})"),
          page_event_share_path(@page, @event) %>
    </li>
  </ul>
  
  <% if 'event' == active_aspect and @event.peers.count > 1 -%>
    <%= form_tag edit_page_event_path(@page, @event), :method => :get do %>
      <%= select_tag :id,
        options_for_select(
          @event.peers.collect{|e| [e.start_at.simple_date, e.id]},
          @event.id), {:id => 'date_chooser', :prompt => 'Select Date'} %>
    <% end %>
  <% end -%>
  
  <% end -%>
</header>

<%= javascript_tag do -%>
  <%= render :partial => 'events/date_chooser', :formats => [:js] %>
<% end -%>
