<%= content_tag_for(:li, edit_event,
  :class => ((edit_event == @event || edit_event.master == @event) ?
    'active' : '')) do %>
  <a href="<%= edit_page_event_path(@page, edit_event) %>">
    <%= edit_event.name %>
    <% unless edit_event.replicas.empty? -%>
      (<%= edit_event.replicas.count %>)
    <% end -%>
    <div class="event_range">
      <%= friendly_range(edit_event, true) %>
    </div>
  </a>
<% end %>
