<% include_notes ||= false -%>
<% no_name ||= false -%>
<% stylize ||= false -%>
<%= content_tag_for(:li, event,
  :style => (stylize and event.page.style ?
    "border-left: 10px solid ##{event.page.style.feature_color.to_s(16)}" :
    'border-left: 10px solid transparent')) do %>
  
  <% if @page and user_signed_in? and current_user.administrator? -%>
    <% best_event = event.best_replica(@page.events) -%>
    <div class="event_admin">
      <%= link_to 'Edit',
        edit_page_event_path(best_event.page, best_event) %>
    </div>
  <% end -%>
  
  <% unless (no_name || false) -%>
    <% if event.page != @page -%>
      <%= link_to event.name, friendly_page_path(event.page) %>
    <% else -%>
      <div class="event_name">
        <%= event.name %>
      </div>
    <% end -%>
  <% end -%>
  
  <% contextual_times(event).each do |timestamp| -%>
    <div class="event_range">
      <%= timestamp %>
    </div>
  <% end -%>
  
  <% if event.location and ! event.location.empty? -%>
    <div class="event_location">
      <%= h event.location %>
    </div>
  <% end -%>
  <% if event.notes and ! event.notes.empty? -%>
    <div class="event_notes">
      <%= raw event.notes %>
    </div>
  <% end -%>
  <% invitation = event.invitation_for_user(@user || current_user) -%>
  <% if invitation -%>
    <%= render :partial => 'invitations/response',
      :locals => {:invitation => invitation } %>
  <% end -%>
  <% if @page and user_signed_in? and current_user.administrator? and
    not event.invitations.empty? -%>
    <div class="event_invitations">
      <%= link_to "invitations (#{event.invitations.where('response = ?', 'yes').count}/#{event.invitations.count})",
        page_event_invitations_path(@page, event) %>
    </div>
  <% end -%>
  <%= render :partial => 'forms/list',
    :locals => {:forms => event.forms } %>
<% end %>
