<%= content_tag_for(:li, event) do %>
  <% unless (no_name || false) -%>
    <% if event.page != @page -%>
      <%= link_to event.name, friendly_page_path(event.page) %>
    <% else -%>
      <%= event.name %>
    <% end -%>
  <% end -%>
  <div class="event_range">
    <% if event.master or not event.replicas.empty? -%>
      <%= event.start_at.strftime("%As ") + friendly_range(event, false) %>
    <% else -%>
      <%= friendly_range(event, true) %>
    <% end -%>
  </div>
  <% if event.location and ! event.location.empty? -%>
    <div class="event_location">
      <%= h event.location %>
    </div>
  <% end -%>
<% end %>
