<%= content_tag_for(:li, event) do %>
  
  <% if user_signed_in? and current_user.administrator? -%>
    <% best_event = event.best_replica(@page.events) -%>
    <div id="page_admin">
      <ul>
        <li><%= link_to 'Edit',
          edit_page_event_path(best_event.page, best_event) %><li>
      </ul>
    </div>
  <% end -%>
  
  <% unless (no_name || false) -%>
    <% if event.page != @page -%>
      <%= link_to event.name, friendly_page_path(event.page) %>
    <% else -%>
      <%= event.name %>
    <% end -%>
  <% end -%>
  <div class="event_range">
    <% if event.master or not event.replicas.empty? -%>
      <%= event.start_at.strftime("%As ") + friendly_range(event, false) %>
    <% else -%>
      <%= friendly_range(event, true) %>
    <% end -%>
  </div>
  <% if event.location and ! event.location.empty? -%>
    <div class="event_location">
      <%= h event.location %>
    </div>
  <% end -%>
<% end %>
