<% title "Edit Event" -%>

<%= form_for(@event, :html => { class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => "Edit Event", :cancel_path => @cancel_url} %>

  <%= render :partial => 'form_contents', :locals => {:f => f} %>

  <div class="form__footer">
    <%= f.submit "Update", class: 'btn btn--primary' %>
    <%= link_to 'Reservations' + (@event.reservations.empty? ? '' :
        " (#{@event.reservations.count})"),
      edit_event_reservations_path(@event) %>
    <%= link_to "Recurrence" + (@event.peers.count <= 1 ? '' :
      " (#{@event.peers.count})"),
      edit_event_recurrence_path(@event) %>
  </div>

<% end %>

<%= render :partial => 'shared/delete',
  :locals => {:item => @event, :url => [@event]} %>
