<div class="edit_content">
  <section>
    <%= form_for(@page) do |f| %>
      <div class="field">
        <%= f.label :obscure?, :class => 'inline' %>
        <%= f.check_box :obscure, :class => 'submittable' %>
      </div>
      <div class="field">
        <%= f.label :private?, :class => 'inline' %>
        <%= f.check_box :private, :class => 'submittable' %>
      </div>
      <div class="field">
        <%= f.label :any_user?, :class => 'inline' %>
        <%= f.check_box :any_user, :class => 'submittable' %>
      </div>
      <% if @page.email_list and not @page.email_list.empty? -%>
      <div class="field">
        <%= f.label :allow_for_email_list?, :class => 'inline' %>
        <%= f.check_box :allow_for_email_list, :class => 'submittable' %>
        <div class="help">
          <%= @page.email_list %><%= @site.email_domain %>
        </div>
      </div>
      <% end -%>
      
      <div class="actions">
        <%= f.submit %>
        <%= render 'cancel_controls' %>
      </div>
    <% end %>
  </section>
  
  <aside>
    <%= render :partial => 'authorizations/edit_list' %>
  </aside>

</div>
