<% if 'feature' == @page.child_layout -%>
  <ul id="feature_nav">
    <%= render :partial => "home/feature_page", :collection => @children %>
  </ul>
<% elsif 'landing' == @page.child_layout -%>
  <div class="landing_content">
    <ul class="sub_pages">
      <%= render :partial => "pages/landing_sub_page", :collection => @children %>
    </ul>
  </div>
<% end -%>

<% if 'regular' != @page.layout and not @feature_children.empty? -%>
<ul class="landing_content secondary">
  
  <% @feature_children[0..2].each do |page| -%>
    <li class="panel feature_child">
      <% if page.style and page.style.child_feature.exists? -%>
        <div class="feature_child_background">
          <%= image_tag page.style.child_feature.url(:normal).gsub(' ', '%20') %>
        </div>
      <% end -%>
      <div class="feature_child_text"
        style="color: #<%= page.style.child_feature_text_color.to_s(16) %>">
        <h2><%= link_to page.name, friendly_page_path(page) %></h2>

        <%= raw page.feature_phrase %>
      </div>
    </li>
  <% end -%>
  <% if @feature_children.length < 3 -%>
  <% ((@feature_children.length)..2).each do -%>
    <li class="panel"></li>
  <% end -%>
  <% end -%>

</ul>
<% end -%>