<%= form_for(@page, :html => { :multipart => true }) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="page_content">
    <section>
      <%= hidden_field_tag :aspect, @aspect %>
      <div class="field">
        <%= f.label :feature_text %><br />
        <%= f.text_area :feature_text, :size => '60x10' %>
      </div>
      
      <div class="actions">
        <%= f.submit 'Update' %>
        <%= render 'cancel_controls' %>
      </div>
    </section>
    
    <aside>
      <div class="form">
        <div class="field">
          <%= f.label :feature? %>
          <%= f.check_box :featured %>
        </div>
        <div class="field">
          <%= f.label :feature_index %>
          <%= f.text_field :feature_index, :size => 2 %>
        </div>
      </div>
    </aside>
  </div>
<% end %>
