<%= form_for(@page, :html => { :multipart => true }) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div id="page_content">
  <section>
    <%= f.hidden_field :parent_id %>
    <div class="field">
      <%= f.text_area :text, :size => '80x20' %>
    </div>
  </section>

  <aside>
    <div class="form">
      
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      
      <div class="field">
        <%= f.label :inline_image %><br />
        <% if @page.text_image.exists? -%>
          <%= image_tag @page.text_image.url(:thumb) %>
          <%= check_box_tag 'delete_text_image' %> delete image?
        <% end -%>
        <%= f.file_field :text_image %>
      </div>
      
      <div class="field">
        <%= f.label :banner %><br />
        <%= collection_select(:page, :page_banner_id,
          PageBanner.all, :id, :image_file_name, :prompt => true) %>
        <%= link_to 'page banners', page_banners_path %>
      </div>
      
    </div>
  </aside>
</div>

  <div class="actions">
    <%= f.submit %>
    <% if @page.id -%>
     | <%= link_to 'Cancel', friendly_page_path(@page) %>
     | <%= link_to 'Delete page', @page, :confirm => 'Are you sure?',
      :method => :delete %>
    <% elsif @page.parent -%>
     | <%= link_to 'Cancel', friendly_page_path(@page.parent) %>
    <% else -%>
     | <%= link_to 'Cancel', pages_path %>
    <% end -%>
  </div>
<% end %>
