<div class="form__contents">

  <%= render :partial => 'form_errors' %>

  <fieldset>
    <legend>Context</legend>
    <%= f.hidden_field :parent_id %>
    <ul class="form__fields list-bare">
      <li class="form__field">
        <%= f.label :title %>
        <%= f.text_field :name, size: 80, autofocus: true  %>
      </li>
      <li class="form__field">
        <%= f.label :title_prefix %>
        <div class="form__field-help">
          If your page title is rather generic, like 'Resources',
          add the parent page title here to distinguish it.
        </div>
        <%= f.text_field :url_prefix %>
      </li>
      <li class="form__field">
        <%= f.label :url_aliases %>
        <div class="form__field-help">
          If you change a page's name, you can put the old url name here
          so links still work.
        </div>
        <%= f.text_area :url_aliases, :size => '23x2' %>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>Access</legend>
    <ul class="form__fields list-bare">
      <!-- <li class="form__field">
        <%= f.label :obscure?, :class => 'inline' %>
        <%= f.check_box :obscure, :class => 'submittable' %>
      </li> -->
      <li class="form__field">
        <%= f.label :private?, :class => 'inline' %>
        <div class="form__field-help">
          If checked, only adminstrators or people on the below email list
          will be able to see the page.
        </div>
        <%= f.check_box :private, :class => 'submittable' %>
      </li>
      <li class="form__field">
        <%= f.label :email_list %>
        <div class="form__field-help">
          See the description for private above.
        </div>
        <%= f.collection_select :email_list, @email_lists, :name, :name,
          {:include_blank => 'none'}, {:class => 'email_list'} %>
      </li>
      <!-- <li class="form__field">
        <%= f.label :any_user?, :class => 'inline' %>
        <%= f.check_box :any_user, :class => 'submittable' %>
      </li> -->
    </ul>
  </fieldset>

  <fieldset>
    <legend>Social</legend>
    <ul class="form__fields list-bare">
      <li class="form__field">
        <%= f.label :facebook_url %>
        <%= f.text_field :facebook_url, :size => '80' %>
      </li>
      <li class="form__field">
        <%= f.label :twitter_name %>
        <%= f.text_field :twitter_name %>
      </li>
      <li class="form__field">
        <%= f.label :vimeo_url %>
        <%= "TBD" %>
      </li>
    </ul>
  </fieldset>

</div>
