<%= form_for(@page, :html => { :multipart => true }) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div id="regular_content">
  <section class="text_editing">
    <% if @site_reference -%>
      <%= hidden_field_tag 'site_reference', @site_reference %>
    <% end -%>
    <div class="field">
      <%= f.text_area :text, :size => '80x20', :class => 'textedit' %>
    </div>
  </section>

  <aside>
    <div class="form">
      
      <div class="field">
        <%= f.label :page_name %><br />
        <%= f.text_field :name %>
      </div>
      
      <div class="field">
        <%= f.label :name_prefix %><br />
        <div class="help">
          Use the parent page name here for generic page names like 'Resources'
        </div>
        <%= f.text_field :url_prefix %>
      </div>
      
      <div class="field">
        <%= f.label :url_aliases %><br />
        <%= f.text_area :url_aliases, :size => '30x2' %>
      </div>
      
      <div class="field">
        <%= f.label :style, :class => 'inline' %>
        <%= collection_select(:page, :style_id,
          Style.all, :id, :name,
          :include_blank => true) %>
        <%= link_to 'styles', styles_path %>
      </div>
      
      <div class="field">
        <%= f.label :animate_banners?, :class => 'inline' %>
        <%= f.check_box :animate_banner %>
      </div>
      
      <div class="field">
        <%= f.label :email_list %><br />
        <div id="email_list"></div>
      </div>
      
      <div class="field">
        <%= f.label :layout, :class => 'inline' %>
        <%= f.select :layout,
          options_for_select(Page::LAYOUTS, @page.layout) %>
      </div>
      
      <div class="field">
        <%= f.label :child_layout, :class => 'inline' %>
        <%= f.select :child_layout,
          options_for_select(Page::CHILD_LAYOUTS, @page.child_layout) %>
      </div>
      
      <div class="field">
        <%= f.label :content_order %><br />
        <div class="help">
          Comma separated list of (t)ext, (e)vents, (c)ontacts,
          e(m)ail list, (d)ocuments, (f)orms, child pa(g)es,
          (p)hotos, (v)ideos, (a)udio, (h)ighlights, (F)acebook,
          (T)witter
        </div>
        <%= f.text_field :aspect_order %>
      </div>
      
      <div class="field">
        <%= f.label :obscure?, :class => 'inline' %>
        <%= f.check_box :obscure %>
      </div>
      
      <% if @page.id -%>
      <hr/>

      <div class="field">
        <%= f.label :parent_page %><br />
        <div id="parent_id"></div>
        <!--%= collection_select(:page, :parent_id,
          @page.possible_parents, :id, :name,
          :include_blank => true) %-->
      </div>
      
      <div id="parent_context">
        <%= render :partial => 'edit_for_parent' -%>
      </div>
      <% else -%>
        <%= f.hidden_field :parent_id %>
      <% end -%>
      
    </div>
  </aside>
</div>

  <div class="actions">
    <%= f.submit %>
    <%= render 'cancel_controls' %>
    <% if @page.id -%>
     | <%= link_to 'Delete page', @page, :confirm => 'Are you sure?',
      :method => :delete %>
    <% end -%>
  </div>
<% end %>

<%= javascript_tag do %>
  <%= render :partial => 'text_editor.js' -%>
  
  <% if @page.id -%>
    <%= render :partial => 'form_aids.js' -%>
    <%= render :partial => 'parent_indexer.js' -%>
    <%= render :partial => 'email_list_chooser.js' -%>
  <% end -%>
<% end -%>
