<div class="form__contents">

  <%= render :partial => 'form_errors' %>

  <fieldset>
    <%= f.hidden_field :parent_id %>
    <ul class="form__fields list-bare">
      <li class="form__field">
        <%= f.label :title %>
        <%= f.text_field :name, size: 80, autofocus: true  %>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend class="form__expander" onclick="showAccess()">Access</legend>
    <ul id="access_fields" class="form__fields list-bare" style="display:none;">
      <li class="form__field">
        <%= f.label :private?, :class => 'inline' %>
        <%= f.check_box :private, :class => 'submittable',
          :onchange => "privateChanged()" %>
      </li>
      <li class="form__field" id="email_list"
        style="<%= @page.private ? '' : 'display:none;' %>">
        <%= f.label :email_list %>
        <div class="form__field-help">
          User accounts whose email is in this list will be able to see the page.
        </div>
        <%= f.collection_select :email_list, @email_lists, :name, :name,
          {:include_blank => true}, {:class => 'email_list'} %>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend class="form__expander" onclick="showSocial()">Social</legend>
    <ul id="social_fields" class="form__fields list-bare" style="display:none;">
      <li class="form__field">
        <%= f.label :facebook_url %>
        <%= f.text_field :facebook_url, :size => '80' %>
      </li>
      <li class="form__field">
        <%= f.label :twitter_name %>
        <%= f.text_field :twitter_name %>
      </li>
      <li class="form__field">
        <%= f.label :vimeo_url %>
        <%= "TBD" %>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend class="form__expander" onclick="showAdvanced()">Advanced</legend>
    <ul id="advanced_fields" class="form__fields list-bare" style="display:none;">
      <li class="form__field">
        <%= f.label :title_prefix %>
        <div class="form__field-help">
          If your page title is rather generic, like 'Resources',
          add a prefix to distinguish it.
        </div>
        <%= f.text_field :url_prefix %>
      </li>
      <li class="form__field">
        <%= f.label :url_aliases %>
        <div class="form__field-help">
          If you change a page's name, you can put the old url name here
          so links still work.
        </div>
        <%= f.text_area :url_aliases, :size => '23x2' %>
      </li>
    </ul>
  </fieldset>

  <script>
  function privateChanged() {
    var checked = document.getElementById('page_private').checked;
    document.getElementById('email_list').style.display =
      (checked ? '' : 'none');
  }
  function showAdvanced() {
    var element = document.getElementById('advanced_fields');
    var current = element.style.display;
    element.style.display = (current === 'none' ? '' : 'none');
  }
  function showSocial() {
    var element = document.getElementById('social_fields');
    var current = element.style.display;
    element.style.display = (current === 'none' ? '' : 'none');
  }
  function showAccess() {
    var element = document.getElementById('access_fields');
    var current = element.style.display;
    element.style.display = (current === 'none' ? '' : 'none');
  }
  </script>

</div>
