
<% if @page.administrator? current_user -%>
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Edit page', edit_page_path(@page) %></li>
      <% if current_user.administrator? -%>
      <li>
        <% if @page.blog? or @page.forum? -%>
          <%= link_to 'Add post', new_page_path(:parent_id => @page.id) %>
        <% else -%>
          <%= link_to 'Add page', new_page_path(:parent_id => @page.id) %>
        <% end -%>
      </li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<% if @page.podcast -%>
  <div class="page_control">
    <%= link_to image_tag('rss.png'),
      page_podcast_path(@page, :format => 'rss') -%>
  </div>
<% end -%>
<% if (@events and not @events.empty?) or
    (@categorized_events and not @categorized_events[:all].empty?) -%>
  <div class="page_control">
    <%= link_to image_tag('calendar-3.png'),
      page_calendar_path(@page.nav_context) %>
  </div>
<% end -%>
<%= render :partial => 'social/tools' %>
