<header>
  <h1 class="<%= @page.nav_context == @page ? 'active' : '' %>">
    <%= link_to @page.nav_context.name,
      friendly_page_path(@page.nav_context) %></h1>
  
  <% if @page.podcast -%>
  <div id="page_feed_control">
    <%= link_to image_tag('feed.png'),
      page_podcast_path(@page, :format => 'rss') -%>
  </div>
  <% end -%>
  
  <% if user_signed_in? and current_user.administrator? -%>
    <div id="page_admin">
      <ul>
        <li><%= link_to 'Edit page', edit_page_path(@page) %><li>
        <li>
          <% if @page.main? -%>
            <%= link_to 'Add page', new_page_path(:parent_id => @page.id) %>
          <% elsif @page.blog? -%>
            <%= link_to 'Add post', new_page_path(:parent_id => @page.id) %>
          <% end -%>
        </li>
      </ul>
    </div>
  <% end -%>
  
  <ul class="nav">
    <%= render :partial => "pages/sub_page",
      :collection => @page.nav_context.children.visible(current_user) %>
  </ul>
  
</header>
