
<% if user_signed_in? and current_user.administrator? -%>
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Edit page', edit_page_path(@page) %></li>
      <li>
        <% if @page.blog? or @page.forum? -%>
          <%= link_to 'Add post', new_page_path(:parent_id => @page.id) %>
        <% else -%>
          <%= link_to 'Add page', new_page_path(:parent_id => @page.id) %>
        <% end -%>
      </li>
    </ul>
  </div>
<% end -%>

<% if @page.podcast -%>
  <div id="page_feed_control">
    <%= link_to image_tag('feed.png'),
      page_podcast_path(@page, :format => 'rss') -%>
  </div>
<% end -%>
<% if (@events and not @events.empty?) or
    (@categorized_events and not @categorized_events[:all].empty?) -%>
  <div id="page_calendar_control">
    <%= link_to image_tag('calendar.png'),
      page_calendar_path(@page.nav_context) %>
  </div>
<% end -%>
