
<% if @page.administrator? current_user -%>
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Edit page', edit_page_path(@page, :protocol => 'https') %></li>
      <li>
        <% if @page.blog? or @page.forum? -%>
          <%= link_to 'Add post', new_page_path(:parent_id => @page.id) %>
        <% else -%>
          <%= link_to 'Add page', new_page_path(:parent_id => @page.id) %>
        <% end -%>
      </li>
    </ul>
  </div>
<% end -%>

<% if @page.feed_page -%>
  <div class="page_control">
    <%= link_to friendly_page_podcast_url(@page.feed_page, :protocol => 'http'),
      {class: 'icon feed', type: 'application/rss+xml'} do %>
      <%= image_tag('rss.png') %>
    <% end -%>
  </div>
  <% content_for(:feed) do -%>
    <%= auto_discovery_link_tag(:rss,
      friendly_page_podcast_url(@page.feed_page, :protocol => 'http')) %>
  <% end -%>
<% end -%>
<% if (@events and not @events.empty?) or
    (@categorized_events and not @categorized_events[:all].empty?) -%>
  <div class="page_control">
    <%= link_to page_calendar_path(@page), class: 'icon calendar' do %>
      <%= image_tag('calendar-3.png') %>
    <% end -%>
  </div>
<% end -%>
<%= render :partial => 'social/tools' %>

<% if @page.parent and @page.parent.blog? -%>
  <div id="blog_nav" class="page_control">
    <% if @previous_page -%>
      <%= link_to '<', friendly_page_path(@previous_page), class: 'icon previous' %>
    <% end -%>
    <span class="post_date">
      <%= @page.created_at.relative_str %>
    </span>
    <% if @next_page -%>
      <%= link_to '>', friendly_page_path(@next_page), class: 'icon next' %>
    <% end -%>
  </div>
<% end -%>
