<%= form_for(@page) do |f| %>
  <%= render :partial => 'form_errors' %>

<div class="edit_content">

  <section>
    <% if @site_reference -%>
      <%= hidden_field_tag 'site_reference', @site_reference %>
    <% end -%>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :name, :size => 80 %>
    </div>
    
    <div class="field">
      <%= f.label :title_prefix %><br />
      <div class="help">
        Use the parent page title here for generic page titles like 'Resources'
      </div>
      <%= f.text_field :url_prefix %>
    </div>

    <div class="field">
      <%= f.label :url_aliases %><br />
      <%= f.text_area :url_aliases, :size => '30x2' %>
    </div>

    <% if @page.id -%>
      <% if current_user.administrator? -%>
        <div class="field">
          <%= f.label :site_primary?, :class => 'inline' %>
          <%= f.check_box :site_primary %>
          <div class="help">
            Include in the top level site navigation
          </div>
        </div>
        
        <div class="field">
          <%= f.label :parent_page %><br />
          <%= f.collection_select :parent_id, @pages, :id, :name_with_parent,
            {include_blank: true}, {:class => 'page'} %>
        </div>

        <div class="field">
          <%= f.label :order_in_parent %>
          <%= hidden_field_tag 'sub_order',
            @siblings.map{|c| c.id}.join(', '),
            :id => 'sub_order' %>
          <ul id="indexer" data-page-url="<%= @page.url %>">
            <% @siblings.each do |sibling| -%>
              <li id="<%= sibling.id %>"
                class="<%= sibling == @page ? 'active' : ''%>">
                <%= sibling.name %></li>
            <% end -%>
          </ul>
        </div>
      <% end -%>
    <% else -%>
      <%= f.hidden_field :parent_id %>
    <% end -%>

  </section>
</div>

  <div class="actions">
    <%= f.submit %>
    <%= render 'cancel_controls' %>
    <% if @page.id and (current_user.administrator? or
        (@page.parent and @page.parent.administrator?(current_user))) -%>
     | <%= link_to 'Delete page', @page,
      data: {confirm: "Are you sure? This will also delete all events (#{@page.events.count}), forms (#{@page.forms.count}), documents (#{@page.documents.count}), photos (#{@page.photos.count}), videos (#{@page.videos.count}), and audios (#{@page.audios.count}), let alone all sub-pages (#{@page.children.count}) and their contents associated with this page."},
      method: :delete %>
    <% end -%>
  </div>
<% end %>
