<% unless pages.empty? -%>
<ul class="page_map">
  <% pages.each do |page| -%>
  <li class="<%= page.layout %> <%= page.private? ? 'private' : '' %> <%= page.obscure? ? 'obscure' : '' %>">
    <%= link_to page.name, friendly_page_path(page) %>
    <%= render :partial => 'map', :locals => {:pages => page.children} %>
  </li>
  <% end -%>
</ul>
<% end -%>
