<%= form_for(@page, :html => { :multipart => true }) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="regular_content">
  <section class="text_editing">
    <% if @site_reference -%>
      <%= hidden_field_tag 'site_reference', @site_reference %>
    <% end -%>
    <div class="field">
      <%= f.label :banner_text %><br />
      <%= f.text_area :banner_text, :style => "height:200px", :class => 'textedit' %>
    </div>
  </section>

  <% if current_user.administrator? -%>
  <aside>
    <div class="form">
      
      <div class="field">
        <%= f.label :style, :class => 'inline' %>
        <%= collection_select(:page, :style_id,
          Style.all, :id, :name,
          :include_blank => true) %>
        <%= link_to 'styles', styles_path %>
      </div>
      
      <div class="field">
        <%= f.label :animate_banners?, :class => 'inline' %>
        <%= f.check_box :animate_banner %>
      </div>
      
      <div class="field">
        <%= f.label :layout, :class => 'inline' %>
        <%= f.select :layout,
          options_for_select(Page::LAYOUTS, @page.layout) %>
      </div>
      
      <div class="field">
        <%= f.label :child_layout, :class => 'inline' %>
        <%= f.select :child_layout,
          options_for_select(Page::CHILD_LAYOUTS, @page.child_layout) %>
      </div>
      
      <div class="field">
        <%= f.label :content_order %><br />
        <div class="help">
          Comma separated list of (t)ext, (e)vents, (c)ontacts,
          e(m)ail list, (d)ocuments, (f)orms, child pa(g)es,
          (p)hotos, (v)ideos, (a)udio, (h)ighlights, (F)acebook,
          (T)witter
        </div>
        <%= f.text_field :aspect_order %>
      </div>
      
    </div>
  </aside>
  <% end -%>
</div>

  <div class="actions">
    <%= f.submit %>
    <%= render 'cancel_controls' %>
  </div>
<% end %>

<%= javascript_tag do %>
  <%= render :partial => 'text_editor.js', :locals => {:height => 200} -%>
  
  <% if @page.id -%>
    <%= render :partial => 'form_aids.js' -%>
    <%= render :partial => 'parent_indexer.js' -%>
    <%= render :partial => 'email_list_chooser.js' -%>
  <% end -%>
<% end -%>
