<% title("Edit #{@page.name} Email") -%>

<section>
  <%= render :partial => 'edit_header', :locals => {:active_aspect => 'email'} %>

  <% if current_user.administrator? -%>
  
  <div class="edit_content">
    <section>
      <%= form_for(@page) do |f| %>
        <%= render :partial => 'form_errors' %>

        <%= f.hidden_field :name %>
        <%= f.label :email_list %>
        <div id="email_list"></div>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </section>
    
    <aside>
      <% if @email_list -%>
      <div class="add_content">
        <%= link_to 'Manage membership',
          edit_email_members_page_path(@page) %>
      </div>
      <% end -%>
    </aside>
  </div>
  
  <% else -%>
  
  <div class="empty_indicator">
    This page doesn't have an email list associated with it.
    <% unless current_user.administrator? -%>
    <br/>
    Please contact a site administrator if you would like to add one.
    <% end -%>
  </div>
  
  <% end -%>
  
</section>

<%= javascript_tag do %>
  <%= render :partial => 'email_list_chooser', :formats => [:js]-%>
<% end -%>
