<% title("Edit #{@page.name}") -%>
<section>
  <%= render 'edit_header' %>

  <% if 'text' == @aspect -%>
    <%= render 'form' %>
  <% end -%>
  
  <% if 'photos' == @aspect -%>
    <%= render 'photos/edit_batch', :locals => {:page => @page} %>
  <% end -%>
  
  <% if 'videos' == @aspect -%>
    <%= render 'videos/edit_batch', :locals => {:page => @page} %>
  <% end -%>
  
  <% if 'events' == @aspect -%>
    <%= render 'events/edit_batch', :locals => {:page => @page} %>
  <% end -%>
  
  <% if 'feature' == @aspect -%>
    <%= render 'edit_feature' %>
  <% end -%>
  
  <% if 'contacts' == @aspect -%>
    <%= render 'contacts/edit_batch', :locals => {:page => @page} %>
  <% end -%>
  
  <% if 'access' == @aspect -%>
    <%= render 'authorizations/edit_batch', :locals => {:page => @page} %>
  <% end -%>

</section>
