<% title @page.prefixed_name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section class="landing_top">
  
  <%= render :partial => 'header' %>
  
  <%= render :partial => 'banner' %>
  
</section>

<ul class="landing_content primary">
  
  <% @aspects[0..1].each do |aspect| -%>
    <%= render_page_panel(@page, aspect, @children, @categorized_events) -%>
  <% end -%>

</ul>

<%= render :partial => 'children' %>

<% if @aspects.length > 2 -%>
<ul class="landing_content secondary">
  
  <% @aspects[2..-1].each do |aspect| -%>
    <%= render_page_panel(@page, aspect, @children, @categorized_events) -%>
  <% end -%>
  <% ((@aspects.length+1)..5).each do -%>
    <li class="panel"></li>
  <% end -%>

</ul>
<% end -%>
