<% title @page.prefixed_name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section class="landing_top">
  
  <%= render :partial => 'header' %>
  
  <%= render :partial => 'banner' %>
  
</section>

<ul class="landing_content primary">
  
  <% @aspects[0..1].each do |aspect| -%>
    <%= render_page_panel(@page, aspect,
      {:children => @children,
        :categorized_events => @categorized_events,
        :width => 480, :height => 360}) -%>
  <% end -%>

</ul>

<%= render :partial => 'children' %>

<% if @aspects.length > 2 -%>
<ul class="landing_content secondary">
  
  <% @aspects[2..4].each do |aspect| -%>
    <%= render_page_panel(@page, aspect,
      {:children => @children,
        :categorized_events => @categorized_events,
        :width => 313, :height => 235}) -%>
  <% end -%>
  <% if @aspects.length < 5 -%>
  <% ((@aspects.length)..4).each do -%>
    <li class="panel"></li>
  <% end -%>
  <% end -%>

</ul>
<% end -%>
