<% title @page.prefixed_name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  
  <%= render :partial => 'header' %>

  <% if @page.style and @page.style.banner.exists? -%>
    <div id="page_banner">
      <%= image_tag @page.style.banner.url(:normal) %>
    </div>
  <% end -%>
  
</section>

<div class="regular_content">

  <section>
    <div id="text">    
      <%= raw @page.text %>
    </div>

    <%= render :partial => 'conversations/index' %>
  </section>

  <aside>
    <%= button_to 'Start a new conversation',
      new_page_conversation_path(@page), :method => :get %>
  </aside>
  
</div>
