<% title @page.name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  
  <%= render :partial => 'header' %>

  <% if @page.style and @page.style.banner.exists? -%>
    <div id="page_banner">
      <%= image_tag @page.style.banner.url(:normal) %>
    </div>
  <% end -%>
  
</section>

<div id="page_content">

  <section id="page_text">
    
    <% if @page.text_image.exists? -%>
      <%= image_tag @page.text_image.url(:normal), :class => 'page_text_image' %>
    <% end -%>
    
    <%= raw @page.rendered_text %>
    
  </section>

  <aside>
    
    <% if @upcoming_events.count == 1 and
        @page == @page.events.first.page -%>
        
        <%= render :partial => 'events/viewer',
          :locals => {:events => @upcoming_events,
            :no_name => (@page.name == @upcoming_events.first.name)} %>
          
        <%= render :partial => 'contacts/viewer',
          :locals => {:contacts => @page.contacts} %>
          
    <% else -%>
    
      <%= render :partial => 'contacts/viewer',
        :locals => {:contacts => @page.contacts} %>
    
        <%= render :partial => 'events/viewer',
          :locals => {:events => @upcoming_events, :no_name => false} %>
    <% end -%>
    
    <%= render :partial => 'documents/viewer',
      :locals => {:documents => @page.documents} %>
    
    <% if @page.highlightable? -%>
    <%= render :partial => 'notes/viewer', :locals => {:notes => @page.notes} %>
    <% end -%>
    
    <%= render :partial => 'photos/viewer', :locals => {:photos => @page.photos} %>
    <%= render :partial => 'videos/viewer', :locals => {:videos => @page.videos} %>
  
  </aside>
  
</div>
