<% title @page.name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  
  <%= render :partial => 'header' %>

  <% if @page.style and @page.style.banner.exists? -%>
    <div id="page_banner">
      <%= image_tag @page.style.banner.url(:normal) %>
    </div>
  <% end -%>
  
</section>

<div id="page_content">

  <section id="page_text">
    <%= raw @page.text %>
    
    <%= render :partial => 'documents/library',
      :locals => {:documents => @page.documents} %>
  </section>

  <aside>
    <%= render :partial => 'contacts/viewer',
      :locals => {:contacts => @page.contacts} %>
  </aside>
  
</div>
