<% title @page.prefixed_name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  
  <%= render :partial => 'header' %>

  <% if @page.style and @page.style.banner.exists? -%>
    <div id="page_banner">
      <%= image_tag @page.style.banner.url(:normal) %>
    </div>
  <% end -%>
  
</section>

<div id="page_content">

  <section>
    <%= raw @page.text %>
    <%= render :partial => 'contacts/lineup',
      :locals => {:contacts => @page.contacts} %>
  </section>
  
</div>
