<% title @page.name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  
  <%= render :partial => 'header' %>

  <% if @page.style and @page.style.banner.exists? -%>
    <div id="page_banner">
      <%= image_tag @page.style.banner.url(:normal) %>
    </div>
  <% end -%>
  
</section>

<div id="page_content">
  
  <section id="page_text">
    <%= raw @page.rendered_text %>
  </section>
      
</div>

<div id="blog_posts">
  <% @page.children.reverse.each do |child| -%>
    <div class="blog_post">
      <div class="post_date">
        <%= child.created_at.relative_str %>
      </div>
      <h2 class="post_title">
        <%= link_to child.name, friendly_page_path(child) %>
      </h2>
      <div class="post_snippet">
        <%= child.snippet_text %>
      </div>
    </div>
  <% end -%>
</div>
