<% title @page.prefixed_name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section class="regular_top">
  
  <%= render :partial => 'header' %>

  <%= render :partial => 'banner' %>
  
</section>

<div class="regular_content page_event">

  <section>
    <% if @event -%>
    <%= render :partial => "events/page_header" %>
    <% end -%>
    
    <div id="text">
      <%= raw @page.text %>
    </div>
    
    <%= render :partial => "pages/children" %>
    
  </section>

  <aside>
    
    <% if @page and user_signed_in? and current_user.administrator? and @event and
      not @event.invitations.empty? -%>
      <div class="event_invitations">
        <%= link_to "invitations (#{@event.invitations.where('response = ?', 'yes').count}/#{@event.invitations.count})",
          page_event_invitations_path(@page, @event) %>
      </div>
    <% end -%>
    
    <% if @invitation -%>
      <%= render :partial => 'invitations/response',
        :locals => {:invitation => @invitation } %>
    <% end -%>
    
    <ul class="regular_aside">
      <% @page.aspect_order.split(',').each do |aspect| -%>
        <% if not %w(t g).include?(aspect) -%>
          <%= render_page_panel(@page, aspect,
            {:children => @children,
              :categorized_events => @categorized_events,
              :width => 400, :height => 300}) -%>
        <% end -%>
      <% end -%>
    </ul>
    
  </aside>
  
</div>
