<% title @page.prefixed_name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  
  <%= render :partial => 'header' %>
  
  <%= render :partial => 'banner' %>
  
</section>

<ul class="landing_content primary">
  
  <% @page.aspect_order.split(',')[0..1].each do |aspect| -%>
    <%= render_page_panel(@page, aspect, @chilren, @categorized_events) -%>
  <% end -%>

</ul>

<%= render :partial => 'children' %>

<ul class="landing_content secondary">
  
  <% @page.aspect_order.split(',')[2..-1].each do |aspect| -%>
    <%= render_page_panel(@page, aspect, @chilren, @categorized_events) -%>
  <% end -%>

</ul>
