<% title @page.prefixed_name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  
  <%= render :partial => 'header' %>

  <%= render :partial => 'banner' %>
  
</section>

<div id="page_content">

  <section>
    
    <% if @invitation -%>
      <%= render :partial => 'invitations/response' %>
    <% end -%>
    
    <div id="page_text">
      <%= raw @page.text %>
    </div>
    
  </section>

  <aside>
    
    <% if @categorized_events and
        @categorized_events[:all].count == 1 and
        @page == @categorized_events[:all].first.page -%>
        
        <%= render :partial => 'events/viewer',
          :locals => {:categorized_events => @categorized_events,
            :no_name =>
              (@page.name == @categorized_events[:all].first.name)} %>
          
        <%= render :partial => 'contacts/viewer',
          :locals => {:contacts => @page.contacts} %>
        
        <%= render :partial => 'email_lists/subscribe',
          :locals => {:email_list => EmailList.find(@page.email_list)} %>
          
    <% else -%>
    
      <%= render :partial => 'contacts/viewer',
        :locals => {:contacts => @page.contacts} %>
      
      <%= render :partial => 'email_lists/subscribe',
        :locals => {:email_list => EmailList.find(@page.email_list)} %>
    
      <%= render :partial => 'events/viewer',
        :locals => {:categorized_events => @categorized_events,
          :no_name => false} %>
    <% end -%>
    
    <%= render :partial => 'documents/viewer',
      :locals => {:documents => @page.documents} %>
      
    <%= render :partial => 'forms/viewer',
      :locals => {:forms => @page.forms} %>
    
    <% if @page.highlightable? -%>
    <%= render :partial => 'notes/viewer', :locals => {:notes => @page.notes} %>
    <% end -%>
    
    <%= render :partial => 'photos/viewer', :locals => {:photos => @page.photos} %>
    <%= render :partial => 'videos/viewer', :locals => {:videos => @page.videos} %>
    <%= render :partial => 'audios/viewer', :locals => {:audios => @page.audios} %>
  
  </aside>
  
</div>
