<% title @page.name -%>

<section>
  <header>
    <h1 class="<%= @nav_context == @page ? 'active' : '' %>">
      <%= link_to @nav_context.name, @nav_context %></h1>
    <ul class="nav">
      <%= render :partial => "sub_page",
        :collection => @nav_context.children.visible(current_user) %>
    </ul>
    
    <% if user_signed_in? and current_user.administrator? -%>
      <div id="page_admin">
        <ul>
          <li><%= link_to 'Edit page', edit_page_path(@page) %><li>
          <% unless @nav_context.parent -%>
            <li><%= link_to 'Add page',
              new_page_path(:parent_id => @nav_context.id) %></li>
          <% end -%>
        </ul>
      </div>
    <% end -%>
    
  </header>

  <div id="page_banner">
    <% if @page.style and @page.style.banner.exists? -%>
      <%= image_tag @page.style.banner.url(:normal) %>
    <% end -%>
  </div>
  
</section>

<div id="page_content">

  <section id="page_text">
    
    <% if @page.text_image.exists? -%>
      <%= image_tag @page.text_image.url(:normal), :class => 'page_text_image' %>
    <% end -%>
    
    <%= raw @page.rendered_text %>
    
  </section>

  <aside>
    
    <% if @upcoming_events.count == 1 and
        @page == @page.events.first.page -%>
        
        <%= render :partial => 'events/viewer',
          :locals => {:events => @upcoming_events,
            :no_name => (@page.name == @upcoming_events.first.name)} %>
          
        <%= render :partial => 'contacts/viewer',
          :locals => {:contacts => @page.contacts} %>
          
    <% else -%>
    
      <%= render :partial => 'contacts/viewer',
        :locals => {:contacts => @page.contacts} %>
    
        <%= render :partial => 'events/viewer',
          :locals => {:events => @upcoming_events, :no_name => false} %>
    <% end -%>
    
    <%= render :partial => 'documents/viewer',
      :locals => {:documents => @page.documents} %>
    
    <%= render :partial => 'notes/viewer', :locals => {:notes => @page.notes} %>
    
    <%= render :partial => 'photos/viewer', :locals => {:photos => @page.photos} %>
    <%= render :partial => 'videos/viewer', :locals => {:videos => @page.videos} %>
  
  </aside>
  
</div>
