<% title @page.prefixed_name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section class="regular_top">
  
  <%= render :partial => 'header' %>

  <%= render :partial => 'banner' %>
  
</section>

<div id="regular_content">

  <section>
    
    <% if @invitation -%>
      <%= render :partial => 'invitations/response' %>
    <% end -%>
    
    <div id="text">
      <%= raw @page.text %>
    </div>
    
    <%= render :partial => "pages/children" %>
    
  </section>

  <aside>
    
    <ul id="regular_aside">
      <% @page.aspect_order.split(',').each do |aspect| -%>
        <% if not %w(t g).include?(aspect) -%>
          <%= render_page_panel(@page, aspect, @chilren, @categorized_events) -%>
        <% end -%>
      <% end -%>
    </ul>
    
  </aside>
  
</div>
