<% title "PBC - #{@event.name} Invitations" -%>

<section>
  
  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'events'} %>
  
  <div class="edit_content">
    <section>
      <%= render :partial => 'events/edit_header',
        :locals => {:active_aspect => 'invitations'} %>
      
      <ul id="invitations_summary">
        <% Invitation.possible_responses.each do |response| -%>
        <li id="<%= response %>">
          <span class="name"><%= response %></span>
          <span class="value"><%= @summary[response] %></span>
        </li>
        <% end -%>
      </ul>
      
      <div class="add_content">
        <%= link_to 'Invite more',
          new_page_event_invitation_path(@page, @event) %>
      </div>
      
      <ul id="invitations">
        <% @invitations.each do |invitation| -%>
          <li class="invitation" id="<%= dom_id(invitation) %>">
            <div class="email">
              <%= invitation.email %>
            </div>
            <%= form_for invitation,
              :url => page_event_invitation_path(@page, @event, invitation),
              :remote => true do |f| %>
              <%= f.hidden_field :key %>
              <%= f.radio_button :response, 'yes' %><label>yes</label>
              <%= f.radio_button :response, 'no' %><label>no</label>
              <%= f.radio_button :response, 'maybe' %><label>maybe</label>
              <%= f.radio_button :response, 'unknown' %><label>unknown</label>
              <div class="response_note">
                <%= invitation.note %>
              </div>
            <% end %>
            <%= link_to 'Delete', [@page, @event, invitation],
              data: {confirm: 'Are you sure?'}, method: :delete,
              remote: true, class: 'delete' %>
          </li>
        <% end -%>
      </ul>
    </section>
    
    <aside>
      <%= render :partial => 'events/edit_list' %>
    </aside>
  </div>

</section>

<%= javascript_tag do %>
  $('input[name="invitation[response]"]').click(function(){
    $(this).closest('form').submit();
  });
<% end -%>
