<% email_list ||= @email_list -%>
<% if email_list -%>
<div id="subscribe">
  
  <h2>Email List</h2>

  <div id="email_subscribe">
    <p class="prompt">Subscribe to the <%= @page.name %> email list:</p>
<%= form_tag add_email_list_url(email_list, :protocol => 'https'),
  :class => 'inline' do %>
  <%= text_field_tag 'email_address_confirmation', '',
    :id => 'email_address_confirmation', :placeholder => 'email address' %>
  <%= text_field_tag 'email_address', '', :id => 'email_address',
    :placeholder => 'email address' %>
  <%= submit_tag 'Subscribe' %>
<% end %>

    <% if administrator? -%>
      <%= link_to "#{email_list.name}#{@site.email_domain}",
        edit_email_list_path(email_list) %>
    <% elsif current_user -%>
      <span class="help"><%= "#{email_list.name}#{@site.email_domain}" %></span>
    <% end -%>
  </div>

</div>
<% end -%>
