<% title "Edit #{@email_list.name}" -%>

<%= form_for(@email_list, :url => email_list_path(@email_list), :html => { class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => "Edit #{@email_list.name}", :cancel_path => email_lists_path} %>

  <%= render :partial => 'form_contents', :locals => {:f => f} %>

  <div class="form__footer">
    <%= f.submit "Update", class: 'btn btn--primary' %>
  </div>

<% end %>

<%= render :partial => 'shared/delete', :locals => {:item => @email_list} %>
