<%= content_tag_for(:li, contact) do %>
  <%= link_to email_page_contact_path(@page, contact), class: 'icon email' do %>
    <%= image_tag('mail.png') %>
  <% end -%>
  <div class="contact_name">
    <% if contact.user -%>
      <%= contact.user.name %>
    <% end -%>
    <% if contact.role and not contact.role.empty? -%>
      <span class="contact_role"><%= contact.role %></span>
    <% end -%>
  </div>
<% end %>
