<ul class="card-pile gallery">
  <% contacts.each do |contact| -%>
    <li class="card-container">
      <div class="card-card">
        <div class="card-face card-front">
          <div class="card-image">
            <% portrait = (contact.portrait.exists? ? contact.portrait :
              contact.user.portrait) -%>
          <% if portrait.exists? -%>
            <%= image_tag portrait.url(:normal),
              :width => '210px', :class => 'portrait' %>
          <% end -%>
          </div>
          <div class="card-name">
            <%= contact.user.name %><br/>
            <%= contact.role %>
          </div>
        </div>
        <div class="card-face card-back"
          style="<%= (@page.style and @page.style.bio_back.exists?) ?
            ("background: url('#{@page.style.bio_back.url}'); color: " +
              ("#%06x" % @page.style.bio_back_color)) : '' %>"
          >
          <h4>
            <%= contact.user.name %>
            <%= link_to image_tag('mail.png'),
              email_page_contact_path(@page, contact) %>
          </h4>
          <div class="bio">
            <%= (contact.bio and not contact.bio.empty?) ? contact.bio : 
              contact.user.bio %>
          </div>
        </div>
      </div>
    </li>
  <% end -%>
</ul>
