<%= form_for(@style, :html => { :multipart => true }) do |f| %>
  <% if @style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% @style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :banner %> <span class="help">(980 x 245)</span><br />
    <% if @style.banner.exists? -%>
      <%= image_tag @style.banner.url(:thumb) %>
      <%= check_box_tag 'delete_banner' %> delete banner?
    <% end -%>
    <%= f.file_field :banner %>
  </div>
  <div class="field">
    <%= f.label :hero %> <span class="help">(980 x 445)</span><br />
    <% if @style.hero.exists? -%>
      <%= image_tag @style.hero.url(:thumb) %>
      <%= check_box_tag 'delete_hero' %> delete hero?
    <% end -%>
    <%= f.file_field :hero %>
  </div>
  <div class="field">
    <%= f.label :feature_strip %> <span class="help">(200 x 60)</span><br />
    <% if @style.feature_strip.exists? -%>
      <%= image_tag @style.feature_strip.url(:thumb) %>
      <%= check_box_tag 'delete_feature_strip' %> delete feature strip?
    <% end -%>
    <%= f.file_field :feature_strip %>
  </div>
  <div class="field">
    <%= f.label :hero_text_color %><br />
    <%= f.text_field :hero_text_color,
      :value => "0x%06x" % @style.hero_text_color %>
  </div>
  <div class="field">
    <%= f.label :gradient_upper_color %><br />
    <%= f.text_field :gradient_upper_color,
      :value => "0x%06x" % @style.gradient_upper_color %>
  </div>
  <div class="field">
    <%= f.label :gradient_lower_color %><br />
    <%= f.text_field :gradient_lower_color,
      :value => "0x%06x" % @style.gradient_lower_color %>
  </div>
  <div class="actions">
    <%= f.submit (@style.name ? 'Update Style' : 'Add Style') %>
    | <%= link_to 'Cancel', styles_path %>
  </div>
<% end %>
