<% title("Styles") -%>

<section>
  
  <%= render :partial => 'site/header' %>
  
  <div id="add_content" class="header_add_content">
    <%= link_to 'Add Style', new_style_path %>
  </div>
  
<table id="styles" class="index">
  <tr>
    <th>Name</th>
    <th>Hero</th>
    <th>Banner</th>
    <th>Feature Strip</th>
    <th>Colors</th>
  </tr>

<% @styles.each do |style| %>
  <tr>
    <td><%= link_to style.name, edit_style_path(style) %></td>
    <td>
      <% if style.hero.exists? then %>
      	<%= link_to image_tag(style.hero.url(:thumb)), style.hero.url %>
      <% end %>
    </td>
    <td>
      <% if style.banner.exists? then %>
      	<%= link_to image_tag(style.banner.url(:thumb)), style.banner.url %>
      <% end %>
    </td>
    <td>
      <% if style.feature_strip.exists? then %>
      	<%= link_to image_tag(style.feature_strip.url(:thumb)),
      	  style.feature_strip.url %>
      <% end %>
    </td>
    <td style="background-color: <%= "#%06x" % style.gradient_lower_color %>;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,
      from(<%= "#%06x" % style.gradient_upper_color %>), to(<%= "#%06x" %  style.gradient_lower_color %>));
    background: -moz-linear-gradient(100% 100% 90deg,
      <%= "#%06x" % style.gradient_upper_color %>, <%= "#%06x" %  style.gradient_lower_color %>);
      color: #fff;">
      Featured Name
    </td>
    <td style="color: <%= "#%06x" % style.hero_text_color %>">
      Hero text
    </td>
  </tr>
<% end %>
</table>

</section>
