<% title("Styles") -%>

<section>
  
  <%= render :partial => 'site/header' %>
  
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Add Style', new_style_path %></li>
    </ul>
  </div>
  
<table id="styles" class="index">
  <tr>
    <th>Name</th>
    <th>Banner</th>
    <th>Home Hero</th>
    <!--th>Home Feature</th-->
    <th>Bio Card</th>
    <!--th>Child Feature</th-->
    <th colspan="2">Colors</th>
    <th class="numeric">Usage</th>
  </tr>

<% @styles.each do |style| %>
  <tr>
    <td><%= link_to style.name, edit_style_path(style) %></td>
    <td>
      <% if style.banner.exists? then %>
      	<%= link_to image_tag(style.banner.url(:thumb)), style.banner.url %>
      <% end %>
    </td>
    <td>
      <% if style.hero.exists? then %>
      	<%= link_to image_tag(style.hero.url(:thumb)), style.hero.url %>
      <% end %>
    </td>
    <!--td>
      <% if style.feature_strip.exists? then %>
      	<%= link_to image_tag(style.feature_strip.url(:thumb)),
      	  style.feature_strip.url %>
      <% end %>
    </td-->
    <td>
      <% if style.bio_back.exists? then %>
      	<%= link_to image_tag(style.bio_back.url(:thumb), :height => 24),
      	  style.bio_back.url %>
      <% end %>
    </td>
    <!--td>
      <% if style.child_feature.exists? then %>
      	<%= link_to image_tag(style.child_feature.url(:thumb), :height => 24),
      	  style.child_feature.url %>
      <% end %>
    </td-->
    <td style="color: <%= "#%06x" % style.banner_text_color %>">
      Banner text
    </td>
    <!--td style="color: <%= "#%06x" % style.child_feature_text_color %>">
      Child feature text
    </td>
    <td style="background-color: <%= "#%06x" % style.feature_color %>;
      color: #fff;">
      Home feature text
    </td-->
    <td style="color: <%= "#%06x" % style.hero_text_color %>">
      Home hero text
    </td>
    <td class="numeric">
      <%= style.pages.count %> pages
    </td>
  </tr>
<% end %>
</table>

</section>
