<p id="notice"><%= notice %></p>

<p>
  <b>Hero file name:</b>
  <%= @style.hero_file_name %>
</p>

<p>
  <b>Hero content type:</b>
  <%= @style.hero_content_type %>
</p>

<p>
  <b>Hero file size:</b>
  <%= @style.hero_file_size %>
</p>

<p>
  <b>Hero updated at:</b>
  <%= @style.hero_updated_at %>
</p>

<p>
  <b>Banner file name:</b>
  <%= @style.banner_file_name %>
</p>

<p>
  <b>Banner content type:</b>
  <%= @style.banner_content_type %>
</p>

<p>
  <b>Banner file size:</b>
  <%= @style.banner_file_size %>
</p>

<p>
  <b>Banner updated at:</b>
  <%= @style.banner_updated_at %>
</p>

<p>
  <b>Feature strip:</b>
  <%= @style.feature_strip %>
</p>

<p>
  <b>Feature strip content type:</b>
  <%= @style.feature_strip_content_type %>
</p>

<p>
  <b>Feature strip file size:</b>
  <%= @style.feature_strip_file_size %>
</p>

<p>
  <b>Feature strip updated at:</b>
  <%= @style.feature_strip_updated_at %>
</p>

<p>
  <b>Gradient upper color:</b>
  <%= @style.gradient_upper_color %>
</p>

<p>
  <b>Gradient lower color:</b>
  <%= @style.gradient_lower_color %>
</p>

<p>
  <b>Css:</b>
  <%= @style.css %>
</p>


<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
