<p id="notice"><%= notice %></p>

<p>
  <b>File file name:</b>
  <%= @document.file_file_name %>
</p>

<p>
  <b>File content type:</b>
  <%= @document.file_content_type %>
</p>

<p>
  <b>File file size:</b>
  <%= @document.file_file_size %>
</p>

<p>
  <b>File updated at:</b>
  <%= @document.file_updated_at %>
</p>

<p>
  <b>Page:</b>
  <%= @document.page_id %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
