<section>
  
  <%= render :partial => 'messages/header' %>
  
  <ul id="book_sections">
  <% @sections.each do |section| -%>
    <% if 'Gospels' == section[:name] -%>
      <li id="testament_divider">
        <div id="testament_labels">
          <div id="old_testament">Old Testament</div>
          <div id="new_testament">New Testament</div>
        </div>
      </li>
    <% end -%>
    <li>
      <h3><%= section[:name] %></h3>
      <ul id="book_section">
        <% section[:books].each do |book| -%>
          <% opacity = [1.0, [(book[:count].to_f / @max_count), 0.25].max].min -%>
          <li style="background-color: rgba(196, 196, 196, <%= opacity %>)">
            <%= link_to book[:book], book_path(:id => book[:book]) %></li>
        <% end -%>
      </ul>
    </li>
  <% end -%>
  </ul>
  
  <%= render :partial => 'authors/messages_key',
    :locals => {:min => 'less messages', :max => 'more messages'} %>
  
</section>
