<% title 'Books of the Bible' -%>

<section>
  
  <%= render :partial => 'messages/header' %>
  
  <div id="testaments">
  <% @testaments.each do |testament| -%>
  <div class="testament">
    <h3><%= testament[:name] %></h3>
    <ul>
    <% testament[:sections].each do |section| -%>
      <li>
        <h3><%= section[:name] %></h3>
        <ul class="book_section">
          <% section[:books].each do |book| -%>
            <% opacity = [1.0, [(book[:count].to_f / @max_count), 0.25].max].min -%>
            <li style="background-color: rgba(196, 196, 196, <%= opacity %>)">
              <%= link_to book[:book], book_path(:id => book[:book]) %></li>
          <% end -%>
        </ul>
      </li>
    <% end -%>
    </ul>
  </div>
  <% end -%>
  </div>
  
  <%= render :partial => 'authors/messages_key',
    :locals => {:min => 'less messages', :max => 'more messages'} %>
  
</section>
