<% filled_field = filled_form.filled_fields.detect{|ff|
    fill_form_field == ff.form_field}
  value = filled_field ? filled_field.value : ''
  html_id = "filled_fields[#{fill_form_field.id}][value]"
  name_after =  (fill_form_field.dense? and
    [FormField::SINGLE_LINE, FormField::MULTIPLE_LINES].include?(fill_form_field.field_type))
  errors = filled_form.errors[fill_form_field.name]
  errors = filled_field.errors if errors.empty? and filled_field -%>

<%= content_tag_for(:li, fill_form_field,
  :class => "#{fill_form_field.field_type}" +
    (fill_form_field.dense? ? ' dense' : '') +
    (errors.empty? ? '' : ' error')) do %>
  
  <% unless name_after -%>
    <% if FormField::INSTRUCTIONS == fill_form_field.field_type and
        fill_form_field.help.empty? -%>
      <h2 class="form_field_name">
        <%= fill_form_field.name %>
      </h2>
    <% else -%>
      <% if fill_form_field.prompt? -%>
        <div class="form_field_prompt">
          <%= fill_form_field.prompt %>
        </div>
      <% else -%>
        <div class="form_field_name">
          <%= fill_form_field.name %>
        </div>
      <% end -%>
    <% end -%>
  <% end -%>
  
  <div class="form_field_value <%= fill_form_field.prompt? ? 'prompted' : '' %>">
  <% case fill_form_field.field_type -%>
    <% when FormField::FIELD, FormField::SINGLE_LINE -%>
      <% if fill_form_field.monetary? %>$<% end -%>
      <%= text_field_tag html_id, value, :size => fill_form_field.size,
        :class => "print-overridden" %>
      <div class="print-override"><%= value %></div>
    <% when FormField::AREA, FormField::MULTIPLE_LINES -%>
      <%= text_area_tag html_id, value, :size => fill_form_field.size,
        :class => "print-overridden" %>
      <div class="print-override"><%= value %></div>
    <% when FormField::SINGLE_CHOICE -%>
      <% if fill_form_field.dense? -%>
        <select name="filled_fields[<%= fill_form_field.id %>][value]">
          <% fill_form_field.form_field_options.each do |option| -%>
            <option value="<%= option.id %>" <%= option.selected(filled_field) ? 'selected' : '' %>>
              <%= form_field_option_text(fill_form_field, option) %>
            </option>
          <% end -%>
        </select>
      <% else -%>
        <ul class="options_list">
          <% fill_form_field.form_field_options.each do |option| -%>
            <li>
              <%= radio_button_tag html_id, option.id,
                option.selected(filled_field), disabled: option.disabled? %>
              <div class="option_name">
                <%= form_field_option_text(fill_form_field, option) %>
              </div>
              <div class="option_help">
                <%= raw option.help %>
              </div>
            </li>
          <% end -%>
        </ul>
      <% end -%>
    <% when FormField::MULTIPLE_CHOICE -%>
      <ul class="options_list <%= fill_form_field.dense? ? 'dense' : '' %>"
        <%= fill_form_field.limited? ? 'data-limit=' + fill_form_field.limit.to_s : '' %>>
        <% fill_form_field.form_field_options.each do |option| -%>
          <li>
            <%= check_box_tag html_id+'[]', option.id,
              option.selected(filled_field), disabled: option.disabled?,
              'class' => (option.disabled? ? 'disabled' : '') %>
            <div class="option_name">
              <%= form_field_option_text(fill_form_field, option) %>
            </div>
            <div class="option_help">
              <%= raw option.help %>
            </div>
          </li>
        <% end -%>
      </ul>
      <% if fill_form_field.limited? -%>
        <div class="form_field_options_limit">limit <%= fill_form_field.limit %></div>
      <% end -%>
    <% when FormField::COUNT -%>
      <%= number_field_tag html_id, value, :size => fill_form_field.size,
        :class => "print-overridden", :min => 0, :step => 1 %>
      <span class="value">
        <% if fill_form_field.monetary? %>@ $<% end -%><%= fill_form_field.value %>
      </span>
      <% if fill_form_field.limited? %>
        <span class="help"><%= fill_form_field.remaining %> remaining</span>
      <% end -%>
    <% when FormField::INSTRUCTIONS -%>
  <% end -%>
  
  <% if name_after -%>
  <div class="form_field_name">
    <%= fill_form_field.name %>
  </div>
  <% end -%>
  
  <div class="form_field_help">
    <%= raw fill_form_field.help %>
  </div>
  </div>
<% end %>
