<p id="notice"><%= notice %></p>

<p>
  <b>Filled form:</b>
  <%= @filled_field.filled_form_id %>
</p>

<p>
  <b>Form field:</b>
  <%= @filled_field.form_field_id %>
</p>

<p>
  <b>Value:</b>
  <%= @filled_field.value %>
</p>


<%= link_to 'Edit', edit_filled_field_path(@filled_field) %> |
<%= link_to 'Back', filled_fields_path %>
