<%= form_tag page_event_reservations_path(@page, @event), :method => :put do %>

<table class="reservations_long">
  <caption>Rooms</caption>
  <tr>
    <th></th>
    <th>Room</th>
    <th>Pre Time</th>
    <th>Post Time</th>
    <th>Conflicts</th>
  </tr>
  <% @resources.rooms.each do |resource| -%>
    <% conflicts = resource.other_events_during(@event) -%>
    <% reservation = @event.reservations.where(:resource_id => resource.id).first -%>
  <tr>
    <td><%= check_box_tag 'resources[]', resource.id,
      @event.resources.include?(resource),
      :disabled => (not conflicts.empty?) %></td>
    <td><%= resource.name %></td>
    <td class="reservation_time">
      <%= text_field_tag "options[#{resource.id}][pre_time]",
        (reservation ? reservation.pre_time : 0),
        :id => "#{resource.id}_pre_value", :size => 2 %> hours
    </td>
    <td class="reservation_time">
      <%= text_field_tag "options[#{resource.id}][post_time]",
        (reservation ? reservation.post_time : 0),
        :id => "#{resource.id}_post_value", :size => 2 %> hours
    </td>
    <td>
      <% unless conflicts.empty? -%>
        <ul class="resource_conflicts">
          <% conflicts.each do |conflict| -%>
            <li><%= link_to conflict.global_name_or_name,
              friendly_page_path(conflict.page) %></li>
          <% end -%>
        </ul>
      <% end -%>
    </td>
  </tr>
  <% end -%>
</table>

<table class="reservations_long">
  <caption>Equipment</caption>
  <tr>
    <th></th>
    <th>Equipment</th>
    <th>Pre Time</th>
    <th>Post Time</th>
    <th>Conflicts</th>
  </tr>
  <% @resources.equipment.each do |resource| -%>
    <% conflicts = resource.other_events_during(@event) -%>
    <% reservation = @event.reservations.where(:resource_id => resource.id).first -%>
  <tr>
    <td><%= check_box_tag 'resources[]', resource.id,
      @event.resources.include?(resource),
      :disabled => (not conflicts.empty?) %></td>
    <td><%= resource.name %></td>
    <td class="reservation_time">
      <%= text_field_tag "options[#{resource.id}][pre_time]",
        (reservation ? reservation.pre_time : 0),
        :id => "#{resource.id}_pre_value", :size => 2 %> hours
    </td>
    <td class="reservation_time">
      <%= text_field_tag "options[#{resource.id}][post_time]",
        (reservation ? reservation.post_time : 0),
        :id => "#{resource.id}_post_value", :size => 2 %> hours
    </td>
    <td>
      <% unless conflicts.empty? -%>
        <ul class="resource_conflicts">
          <% conflicts.each do |conflict| -%>
            <li><%= link_to conflict.global_name_or_name,
              friendly_page_path(conflict.page) %></li>
          <% end -%>
        </ul>
      <% end -%>
    </td>
  </tr>
  <% end -%>
</table>

<div class="actions">
  <% if @event.peers.count > 1 -%>
    <%= submit_tag("Update for all") %>
    | <%= submit_tag("Update for #{@event.start_at.simple_date} only")%>
  <% else -%>
    <%= submit_tag("Update Reservations") %>
  <% end -%>
</div>

<% end %>

<%= javascript_tag do -%>
  <%= render :partial => 'form_aids', :formats => [:js] %>
<% end -%>
