<%= form_tag page_event_reservations_path(@page, @event), :method => :put do %>

<table id="reservations" class="grid">
  <caption>Rooms</caption>
<% rows = array_to_rows(@resources.rooms) -%>
<% rows.each do |row| -%>
  <tr>
  <% row.each do |resource| -%>
    <% conflicts = resource.other_events_during(@event) -%>
    <td><%= check_box_tag 'resources[]', resource.id,
      @event.resources.include?(resource),
      :disabled => (not conflicts.empty?) %>
      <%= resource.name %>
      <% unless conflicts.empty? -%>
        <ul class="resource_conflicts">
          <% conflicts.each do |conflict| -%>
            <li><%= link_to conflict.name, friendly_page_path(conflict) %></li>
          <% end -%>
        </ul>
      <% end -%>
    </td>
  <% end -%>
  </tr>
<% end -%>
</table>

<table id="reservations" class="grid">
  <caption>Equipment</caption>
<% rows = array_to_rows(@resources.equipment) -%>
<% rows.each do |row| -%>
  <tr>
  <% row.each do |resource| -%>
    <% conflicts = resource.other_events_during(@event) -%>
    <td><%= check_box_tag 'resources[]', resource.id,
      @event.resources.include?(resource) %>
      <%= resource.name %>
      <% unless conflicts.empty? -%>
        <ul class="resource_conflicts">
          <% conflicts.each do |conflict| -%>
            <li><%= link_to conflict.name, friendly_page_path(conflict) %></li>
          <% end -%>
        </ul>
      <% end -%>
    </td>
  <% end -%>
  </tr>
<% end -%>
</table>

<div class="actions">
  <% if @event.peers.count > 1 -%>
    <%= submit_tag("Update for all") %>
    | <%= submit_tag("Update for #{@event.start_at.simple_date} only")%>
  <% else -%>
    <%= submit_tag("Update Reservations") %>
  <% end -%>
</div>

<% end %>

