<% title "PBC - #{@event.name} Reservations" -%>

<section>
  
  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'events'} %>
  
  <div id="edit_content">
    <aside>
      <%= render :partial => 'events/edit_list' %>
    </aside>

    <section>
      <%= render :partial => 'events/edit_header',
        :locals => {:active_aspect => 'reservations'} %>
      
      <% if @long -%>
        <%= render 'form_long' %>
        <%= link_to 'Short form',
          page_event_reservations_path(@page, @event) %> |
      <% else -%>
        <%= render 'form' %>
        <%= link_to 'Long form',
          page_event_reservations_path(@page, @event, :long => true) %> |
      <% end -%>
      
      <%= link_to 'Resources', resources_path %>
    </section>
  </div>

</section>
