<%= form_for(@message_set,
  :url => (@message_set.id ? series_path(@message_set) :
    series_index_path),
  :html => { :multipart => true }) do |f| %>
  <% if @message_set.errors.any? %>
    <div class="form__error-explanation">
      <h2><%= pluralize(@message_set.errors.count, "error") %> prohibited this message_set from being saved:</h2>

      <ul>
      <% @message_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => '60' %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '60x4' %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <% if @message_set.image.exists? -%>
      <%= image_tag @message_set.image.url(:thumb) %>
      <%= check_box_tag 'delete_image' %> delete image?
    <% end -%>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br />
    <%= collection_select(:message_set, :author_id,
      Author.all, :id, :name,
      :include_blank => true) %>
  </div>
  <div class="actions">
    <%= f.submit (@message_set.id ? 'Update Series' : 'Add Series') %>
    <% if @message_set.id -%>
    | <%= link_to 'Cancel', series_path(@message_set) %>
    <% else -%>
    | <%= link_to 'Cancel', messages_path %>
    <% end -%>
    <% if @message_set.id -%>
    | <%= link_to 'Delete series', series_path(@message_set), data: {confirm: 'Are you sure?'},
      method: :delete %>
    <% end -%>
  </div>
<% end %>
