<% title @message_set.title -%>

<section>
  
  <%= render partial: 'messages/breadcrumbs' %>
  
  <header>
    <h1><%= @message_set.title %></h1>
    
    <% if current_user and current_user.administrator? -%>
    <div class="page_admin">
      <ul>
        <li><%= link_to 'Edit series', edit_series_path(@message_set) %><li>
        <li><%= link_to 'Add message',
          new_message_path(:series_id => @message_set.url) %></li>
      </ul>
    </div>
    <% end -%>
    
    <div id="message_details">
      <% if @message_set.author -%>
      <div class="message_author">
        <%= link_to @message_set.author.name,
          author_path(@message_set.author) %>
      </div>
      <% end -%>
    </div>
    
  </header>
  
  <% if @message_set.image.exists? -%>
    <%= image_tag @message_set.image.url(:normal), :class => 'message_image' %>
  <% end -%>

  <div id="message_description">
    <%= @message_set.description %>
  </div>
  
  <div id="messages">
    <% @message_set.messages.each do |message| -%>
      <%= render :partial => 'messages/message',
        :locals => {:message => message} %>
    <% end -%>
  </div>

</section>
