<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select :resource_type,
      options_for_select(Resource::TYPES, @resource.resource_type) %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <% if @resource.id -%>
    | <%= link_to 'Cancel', resource_path(@resource) %>
    <% else -%>
    | <%= link_to 'Cancel', resources_path %>
    <% end -%>
    <% if @resource.id -%>
    | <%= link_to 'Delete resource', @resource, data: {confirm: 'Are you sure?'},
        method: :delete %>
    <% end -%>
  </div>
<% end %>
