<% XXXDeprecated %>

<header>
  <h1 class="<%= 'main' == active_aspect ? 'active' : '' %>">
    <%= link_to @resource.name, resource_path(@resource) %></h1>

  <% if user_signed_in? and current_user.administrator? -%>
    <div class="page_admin">
      <ul>
        <li><%= link_to 'Edit resource',
          edit_resource_path(@resource) %><li>
      </ul>
    </div>
  <% end -%>
  <div class="page_control">
    <%= link_to resource_calendar_path(@resource), class: 'icon calendar' do %>
      <%= image_tag('calendar-3.png') %>
    <% end -%>
  </div>

</header>
