<% XXXDeprecated %>
<% title "Delete #{@resource.name}" -%>

<%= form_for(@resource, method: "delete", :html => { class: "form form--delete" }) do |f| %>
<div class="form__header">
  <span class="form__title">
    Delete <%= @resource.name %>
  </span>
  <%= link_to 'X', resources_path %>
</div>

<div class="form__contents">
  <fieldset>
    <p class="form__field">Are you sure you want to delete <%= @resource.name %>?</p>
  </fieldset>
</div>

<div class="form__footer">
  <span></span>
  <%= f.submit "Yes, delete #{@resource.name}", class: 'btn' %>
</div>
<% end -%>
