<p>We offer several methods of payment. You may send us a check, pay with an online transaction from your bank, or use PayPal. Please indicate which method you will be using. You will be given more detailed payment instructions on the next page, including a link to PayPal if you choose that option. We will update this record when we have received your payment.</p>

<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @form -%>
    <%= hidden_field_tag :form_id, @form.id %>
  <% end -%>
  <% if @filled_form_key -%>
    <%= hidden_field_tag :filled_form_key, @filled_form_key %>
  <% end -%>
  
  <%= render :partial => 'filled_forms' %>
  
  <div class="regular_content">
    <section>
      <h3><%= @payment.id ? 'Sent' : 'Sending' %></h3>
      <div class="field">
        <%= f.label :amount %><br />
        $<%= text_field_tag :amount, @payment.amount.to_s, :size => '5',
          :id => 'payment_amount', :disabled => true %>
        <%= hidden_field_tag 'payment[amount]', @payment.amount.to_s,
          :id => 'hidden_payment_amount' %>
      </div>
      <div class="field">
        <%= f.label :sent_on %><br />
        <%= f.text_field :sent_at,
          :value => (@payment.sent_at ?
            l(@payment.sent_at.to_date()) : '') %>
      </div>
      <div class="field">
        <%= f.label :method %><br />
        <ul class="payment_methods">
          <% Payment::METHODS.each do |method| -%>
            <li><%= f.radio_button :method, method %><%= method %></li>
          <% end -%>
        </ul>
      </div>
      <div class="field">
        <%= f.label :notes %><br />
        <%= f.text_area :notes, :size => '40x4' %>
      </div>
    </section>
    
    <% if current_user and current_user.administrator? -%>
    <aside>
      <div class="form">
        <h3>Received</h3>
        <div class="field">
          <%= f.label :received_amount %><br />
          $<%= text_field_tag :received_amount,
            @payment.received_amount.to_s, :size => '5',
            :id => 'payment_received_amount',
            :name => 'payment[received_amount]' %>
        </div>
        <div class="field">
          <%= f.label :received_on %><br />
          <%= f.text_field :received_at,
            :value => (@payment.received_at ?
              l(@payment.received_at.to_date()) : '') %>
        </div>
        <div class="field">
          <%= f.label :notes %><br />
          <%= f.text_area :received_notes, :size => '40x4' %>
        </div>
      </div>
    </aside>
    <% end -%>
  </div>
  
  <div class="actions">
    <%= f.submit (@payment.id ? 'Update' : 'Submit') %>
    <% if @payment.id -%>
      | <%= link_to 'Cancel', payment_path(@payment) %>
    <% elsif @filled_form -%>
      | <%= link_to 'Cancel',
        edit_form_fill_path(@filled_form.form, @filled_form) %>
    <% end -%>
    <% if @payment.id -%>
      | <%= link_to 'Delete payment record', @payment,
        :confirm => 'Are you sure?', :method => :delete %>
    <% end -%>
    <% if current_user and current_user.administrator? -%>
      | <%= link_to 'Payments', payments_path %>
    <% end -%>
  </div>
<% end %>

<%= javascript_tag do %>
  <%= render :partial => 'form_aids.js' -%>
<% end %>
