<% title 'Payment' %>

<% if current_user -%>
<% content_for :breadcrumbs do -%>
  <div id="breadcrumbs">
    <ul>
      <li><%= link_to 'Payments', payments_path %></li>
    </ul>
  </div>
<% end -%>
<% end -%>

<header>
  <h1>Payment</h1>

  <% if current_user -%>
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Edit', edit_payment_path(@payment) %></li>
    </ul>
  </div>
  <% end -%>
</header>

<% if @payment.received? -%>
<p>We have acknowledged receipt of your payment. Thank you.</p>
<% else -%>
<p>Thank you for sending your payment. We will update this page when we have confirmed receiving it.</p>
<% end -%>

<div class="regular_content">
  <section>
    
    <ul class="fields">
      <li>
        <label>Amount</label>
        $<%= @payment.amount %>
      </li>
      <li>
        <label>Date</label>
        <%= @payment.sent_at ? l(@payment.sent_at.to_date) : '' %>
      </li>
      <li>
        <label>Method</label>
        <%= @payment.attributes['method'] %>
        <% unless @payment.received_amount -%>
        <div class="payment_method_instructions">
        <% case @payment.attributes['method'] -%>
        <% when 'check' -%>
          Send to:
          <pre><%= @site.check_address %></pre>
        <% end -%>
        </div>
        <% end -%>
      </li>
      <!--li>
        <label>Notes</label>
        <%= @payment.notes %>
      </li-->
    </ul>
    
  </section>
  
  <aside>
    <ul class="fields">
      <li>
        <label>Received Amount</label>
        <% if @payment.received? -%>
          $<%= @payment.received_amount %>
        <% else -%>
          <span class="help">pending</span>
        <% end -%>
      </li>
      <li>
        <label>Received On</label>
        <%= @payment.received_at ? l(@payment.received_at.to_date) : '' %>
      </li>
      <li>
        <label>Receiver Notes</label>
        <%= @payment.received_notes %>
      </li>
    </ul>
  </aside>
  
  <h3>For</h3>

  <table class="filled_forms">
    <% @payment.filled_forms.each do |filled_form| -%>
      <tr>
        <td>
          <%= render :partial => 'filled_form_amount',
            :locals => {:filled_form => filled_form }%>
        </td>
        <td>
          <% if current_user -%>
            <%= link_to filled_form.name,
              edit_form_fill_path(filled_form.form, filled_form) %>
          <% else -%>
            <%= filled_form.name %>
          <% end -%>
        </td>
        <td><%= filled_form.created_at.relative_str %></td>
        <td>
          <% if current_user -%>
            <%= link_to filled_form.form.name,
              form_fills_path(filled_form.form) %>
          <% else -%>
            <%= filled_form.form.name %>
          <% end -%>
        </td>
        <td><%= link_to filled_form.form.page.name,
          friendly_page_path(filled_form.form.page) %></td>
        <td>
          <% if filled_form.form.event -%>
            <%= filled_form.form.event.name %>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </table>
  
</div>

