<%= render :partial => 'pages/breadcrumbs', :locals => {:page => @page} %>

<section>

  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'photos'} %>
  
  <div class="edit_content">
    <section>
      <header>
        <h2>Edit Photo</h2>
      </header>
      <% if @photo.photo.exists? then %>
      	<%= image_tag @photo.photo.url(:thumb) %>
      <% end %>
      <%= render 'form' %>
    </section>

    <aside>
      <%= render 'edit_gallery' %>
    </aside>
  </div>

<section>
