<tr>
  <td style="width: 10px;
    border-bottom: 10px solid #f2f2f2;
    border-top: 10px solid #f2f2f2;
    background-color: <%= (event.page.style ?
    "##{event.page.style.feature_color.to_s(16)}" : 'transparent') %>">
  </td>
  <td class="event_range" style="width: 210px; vertical-align: top;">
    <div style="padding: 10px;
    color: #777777;
    font-size: 14px;">
    <%= timestamp = friendly_range(event)
      raw(timestamp.scan(/\//).size > 1 ?
        timestamp.sub(' - ', '<div style="color: #aaaaaa;">to</div>') :
          timestamp.sub(/([\d]) /, "\\1<br\>")) %>
    <% if event.next and event.next.start_at < event.start_at + 2.days -%>
      <br/>
      <%= timestamp = friendly_range(event.next)
        raw(timestamp.scan(/\//).size > 1 ?
          timestamp.sub(' - ', '<div style="color: #aaaaaa;">to</div>') :
            timestamp.sub(/([\d]) /, "\\1<br\>")) %>
    <% end -%>
    </div>
  </td>
  <td style="width: 380px; font-size: 14px; vertical-align: top;">
    <div style="padding: 10px 20px 10px 0px;">
      <div style="font-weight: bold">
        <%= link_to event.name, friendly_page_url(event.page),
          :style => 'text-decoration: none;
          color: #0b6199;
          font-size: 16px;
          font-weight: bold;'%>
      </div>
      <% if event.location and ! event.location.empty? -%>
        <div class="event_location" style="color: #777777;">
          <%= h event.location %>
        </div>
      <% end -%>
      <% if event.notes and ! event.notes.empty? -%>
        <div class="event_notes" style="">
          <%= raw event.notes %>
        </div>
      <% end -%>
    </div>
  </td>
</tr>
