<tr>
  <td style="width: 10px;
    border-bottom: 5px solid #f2f2f2;
    border-top: 5px solid #f2f2f2;
    background-color: <%= (event.page.style ?
    "##{event.page.style.feature_color.to_s(16)}" : 'transparent') %>">
  </td>
  <td class="event_range" style="width: 210px; vertical-align: top;">
    <% timestamp = contextual_times(event).first -%>
    <div style="padding: 22px 10px;
    color: #777777;
    font-size: 14px;">
    <%= raw timestamp.sub(' - ', ' -<br/>') %>
    </div>
  </td>
  <td style="width: 380px; font-size: 14px; vertical-align: top;">
    <div style="font-weight: bold">
      <% if event.name != event.page.name -%>
        <div class="event_page" style="color: #777777;">
          <%= event.top_context %>
        </div>
      <% end -%>
      <%= link_to event.name, friendly_page_url(event.page),
        :style => 'text-decoration: none;
        color: #0b6199;
        font-size: 14px;
        font-weight: bold;'%>
    </div>
    <% if event.location and ! event.location.empty? -%>
      <div class="event_location" style="color: #777777;">
        <%= h event.location %>
      </div>
    <% end -%>
    <% if event.notes and ! event.notes.empty? -%>
      <div class="event_notes" style="">
        <%= h event.notes %>
      </div>
    <% end -%>
  </td>
</tr>
