<tr class="message">
  <td class="message_date" style="
  vertical-align: top;
  color: #777777;
  width: 200px;
  min-height: 60px;
  padding-bottom: 20px;
  font-size: 14px;">
    <div style="font-size: 16px; color: #777777;">
    <% if message.date > @newsletter.published_at -%>
      This week
    <% else -%>
      Last week
    <% end -%>
    </div>
    <%= message.date.event_date %><br/>
    <%= raw message.events.map{ |e|
      if message.date > @newsletter.published_at
        '<span style="color: #666666; font-weight: bold">' +
        e.start_at.simple_time(true) + '</span>'
      else
        e.start_at.simple_time(true)
      end
    }.to_sentence() %>
  </td>
  <td style="width: 360px; vertical-align: top; padding-bottom: 20px;">
    <div class="message_title" style="
    display:block;
    overflow-y: hidden;
    text-overflow: ellipsis;">
      <%= link_to message.title, message_url(message),
      :style => 'text-decoration: none;
      color: #0b6199;
      font-size: 14px;
      font-weight: bold;' %></div>
    <div class="message_verses" style="display: inline-block;
      margin-right: -4px; color: #666666;
      margin-right: 20px;"><%= message.verses %></div>
    <div class="message_author" style="display: inline-block;
      margin-right: -4px;">
      <% if message.author -%>
        <%= link_to message.author.name, author_url(message.author), :style => 'margin-right: 20px; text-decoration: none;
        color: #0b6199;' %>
      <% end -%>
    </div>
    <% unless message.message_files.empty? -%>
      <ul class="message_files" style="margin: 0px;
      padding: 0px;
      list-style-type: none;
      display: inline-block;
      margin-right: -4px;">
        <% message.message_files.each do |message_file| -%>
          <% next unless message_file.file.content_type -%>
          <li style="display: inline-block;">
            <% if message_file.audio? -%>
              <%= link_to image_tag('audio.png', :size => '16x16'),
                (@route_prefix + message_file.file.url), :style => 'position: relative;
                top: 3px;' %>
            <% else -%>
              <%= link_to image_tag('document.png', :size => '16x16'),
                (@route_prefix + message_file.file.url), :style => 'position: relative;
                top: 3px;' %>
            <% end -%>
            <%= link_to message_file.caption, @route_prefix + message_file.file.url,
              :style => 'text-decoration: none;
              color: #0b6199;'%>
          </li>
        <% end -%>
      </ul>
    <% end -%>
    <% if message.message_set -%>
    <br/>
    <span style="color: #999">
      <%= message.index_in_set.ordinalize %>
      of
      <%= message.message_set.messages.count %>
      in the series
    </span>
    <%= link_to message.message_set.title, series_url(message.message_set),
      :style => 'display: inline-block;
      text-decoration: none;
      color: #0b6199;
      font-size: 14px;
      white-space: nowrap;
      max-width: 360px;
      overflow: hidden;
      text-overflow: ellipsis;'%>
    <% end -%>
    <% if message.events.first and message.events.first.notes and
      ! message.events.first.notes.empty? -%>
      <div class="event_notes" style="margin: 10px 0px;
      padding: 0px;
      display: block;
      margin-right: -4px;">
        <%= h message.events.first.notes %>
      </div>
    <% end -%>
  </td>
</div>
