<div id="newsletter" style="margin: 20px auto;
padding: 0px;
width: 600px;
background-color: #f8f8f8;">
  <div style="position: relative;
  padding: 0px 20px;
  height: 58px;
  line-height: 58px;
  white-space: nowrap;
  <%= raw @header_css %>">
    <span style="display: inline-block;
    width: 360px;
    margin: 0px;
    margin-right: -4px;
    padding: 0px;
    white-space: nowrap;
	  font-weight: bold;
	  color: #eeeeee;
    font-size: 28px;
    line-height: inherit;">
    <%= link_to @newsletter.name, newsletter_url(@newsletter), :style => "font-size: inherit;
    text-decoration: none;
    font-weight: bold;
	  color: #eeeeee;" %>
	  </span>
    <span class="date" style="display: inline-block;
    width: 200px;
    margin-right: -4px;
    font-size: 18px;
    line-height: inherit;
    text-align: right;">
      <%= link_to @newsletter.published_at.relative_str(true),
        newsletter_url(@newsletter), :style => "
        font-size: inherit;
        text-decoration: none;
        font-weight: bold;
    	  color: #eeeeee;" %>
    </span>
    
    <%= yield(:admin) %>
  </div>
  
  <% if @newsletter.note and not @newsletter.note.empty? -%>
  <div id="note" class="focus"
    style="padding: 20px; background-color: #ffffff;">
    <%= raw @newsletter.note %>
  </div>
  <% end -%>

  <div id="messages" class="<%= @focus_messages ? 'focus' : '' %>"
    style="padding: 20px 20px 10px 20px; <%= @focus_messages ? 'background-color: #ffffff;' : 'border-top: 1px solid #cccccc;' %>">
    <h2 style="font-size: 18px;
    color: #777777;
    margin: 0px;
    margin-bottom: 20px;">
    <% url = root_url
      if @next_message and ! @next_message.events.empty?
        url = friendly_page_url(@next_message.events.first.page)
      end %>
    <%= link_to 'Services', url, :style => 'font-size: 18px;
    color: #777777;
    text-decoration: none;' %>
    </h2>
    <table cellspacing="0" cellpadding="0" style="border: none;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;"><tbody>
    <% if @next_message -%>
      <%= render :partial => 'newsletter_mailer/message',
        :locals => {:message => @next_message} %>
    <% end -%>
    <% if @previous_message -%>
      <%= render :partial => 'newsletter_mailer/message',
        :locals => {:message => @previous_message} %>
    <% end -%>
    </table>
  </div>

  <% if @featured_page -%>
  <div id="feature" class="focus <%= @featured_event ? 'featured_event' : 'featured_page' %>" style="
    padding: 30px 20px;
    background-color: #ffffff;
    border-top: 1px solid #cccccc;">
    <% if @featured_page.style -%>
    <div id="banner" style="padding: 0px;">
      <%= image_tag (@route_prefix + @featured_page.style.banner.url(:normal)), :style => 'width: 560px; height: 140px;', :alt => @featured_page.name %>
    </div>
    <% end -%>

    <% if @featured_event -%>
    <table style="
    margin: 0px;
    padding: 20px 0px;"><tbody><tr>
      <td style="width: 200px; vertical-align: top;">
      <% contextual_times(@featured_event).each do |timestamp| -%>
        <span class="event_range" style="
        font-size: 14px;
        font-weight: normal;
        width: 200px;
        color: #777777;">
          <%= raw(timestamp.scan(/\//).size > 1 ?
              timestamp.sub(' - ', '<div style="color: #aaaaaa;">to</div>') :
                timestamp.sub(/([\d]) /, "\\1<br\>")) %>
        </span>
      <% end -%>
      </td>
      <td style="width: 360px; vertical-align: top;">
      <%= link_to @featured_event.name, friendly_page_url(@featured_page),
        :style => 'font-size: 18px; vertical-align: top;
        display: block;
        text-decoration: none;
        color: #0b6199;
        font-weight: bold;
        margin-bottom: 20px;' %>

      <% if @featured_event.notes and ! @featured_event.notes.empty? -%>
        <div class="event_notes">
          <%= h @featured_event.notes %>
        </div>
      <% end -%>
      </td>
    </table>
    <% else -%>
    <h3>
      <%= link_to @featured_page.name, friendly_page_url(@featured_page),
        :style => 'font-size: 18px; vertical-align: top;
        display: block;
        text-decoration: none;
        color: #0b6199;
        font-weight: bold;' %>
    </h3>
    <div id="text" style="">
      <%= raw @featured_page.text %>
    </div>
    <% end -%>

  </div>
  <% end -%>

  <% unless @newsletter.events.empty? -%>
  <div id="events" style="margin: 0px;
  padding: 20px 0px;
  border-top: 1px solid #cccccc;">
    <h2 style="font-size: 18px;
    color: #777777;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px 20px">
    <%= link_to 'Events', main_calendar_url, :style => 'font-size: 18px;
    color: #777777;
    text-decoration: none;' %>
    </h2>
    <table cellspacing="0" cellpadding="0" style="border: none;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;"><tbody>
    <% @newsletter.events.each do |event| -%>
      <% if event != @featured_event -%>
      <%= render :partial => 'newsletter_mailer/event',
        :locals => {:event => event} %>
      <% end -%>
    <% end -%>
    </tbody></table>
  </div>
  <% end -%>

  <div style="color: #dddddd; font-size: 12px; padding: 10px 20px; <%= raw @header_css %>">
    <% if @site -%>
      <div id="copyright" style="display: block; float: right;">
        <%= raw @site.copyright %>
      </div>
      <%= link_to @site.title, root_url, :style => 'text-decoration: none;
  	  color: #f8f8f8; display: block;
      margin-right: 10px;' %>
      <%= @site.address %>
    <% end -%>
    <% if @newsletter.email_list and not @newsletter.email_list.empty? -%>
      <%= link_to 'unsubscribe',
        unsubscribe_email_list_url(@newsletter.email_list),
        :id => 'unsubscribe', :style => 'text-decoration: none;
    	  color: #f8f8f8; float: right;' %>
    <% end -%>
  </div>
</div>
