<%= form_for(@site, :url => site_path) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="regular_content">
  <section>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, :size => 40 %>
    </div>
    <div class="field">
      <%= f.label :subtitle %><br />
      <%= f.text_field :subtitle, :size => 60 %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, :size => 60 %>
    </div>
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address, :size => 60 %>
    </div>
    <div class="field">
      <%= f.label :copyright %><br />
      <%= f.text_field :copyright, :size => 60 %>
    </div>
  </section>
</div>
  <div class="actions">
    <%= f.submit %>
    | <%= link_to 'Cancel', root_path %>
  </div>
<% end %>
