<p id="notice"><%= notice %></p>

<p>
  <b>Communities page:</b>
  <%= @site.communities_page_id %>
</p>

<p>
  <b>About page:</b>
  <%= @site.about_page_id %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
