<% form_section ||= @form_section -%>
<%= form_for(form_section, :url => form_section_path(@form, form_section),
  :remote => true) do |f| %>
  <% if form_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_section.errors.count, "error") %> prohibited this form_section from being saved:</h2>

      <ul>
      <% form_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :form_id %>
  <div class="admin">
    <%= f.submit 'update' %>
    | <%= link_to 'Cancel', form_section_path(@form, form_section),
      :remote => true %>
  </div>
  
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :name %>
  </div>
  
<% end %>
