<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @copy_form -%>
    <%= hidden_field_tag :copy_form_id, @copy_form.id %>
  <% end -%>
  
  <div class="actions">
    <%= f.submit %>
    <% if @form.id -%>
    | <%= link_to 'Cancel', form_path(@form) %>
    <% else -%>
    | <%= link_to 'Cancel', forms_path() %>
    <% end -%>
    <% if @form.id -%>
    | <%= link_to 'Delete form', @form, :confirm => 'Are you sure?',
        :method => :delete %>
    <% end -%>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :payable? %>
    <%= f.check_box :payable %>
  </div>
  <div class="field">
    <%= f.label :page %>
    <%= collection_select(:form, :page_id,
      @form.possible_pages, :id, :name) %>
  </div>
  <%= hidden_field_tag 'field_order',
    @form.form_fields.map{|ff| ff.id}.join(', '),
    :id => 'field_order'%>
  
<% end %>

