<%= form_for(@form) do |f| %>

  <div class="actions">
    <%= f.submit %>
    <% if @form.id -%>
    | <%= link_to 'Done editing', new_form_fill_path(@form) %>
    <% else -%>
    |
      <% if @page -%>
        <%= link_to 'Done editing', forms_path(:page_id => @page.id) %>
      <% else -%>
        <%= link_to 'Done editing', forms_path() %>
      <% end -%>
    <% end -%>
    <% if @form.id -%>
    | <%= link_to 'Delete form', @form, :confirm => 'Are you sure?',
        :method => :delete %>
    <% end -%>
  </div>
  
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @copy_form -%>
    <%= hidden_field_tag :copy_form_id, @copy_form.id %>
  <% end -%>

  <%= f.hidden_field :page_id %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :published? %>
    <%= f.check_box :published %>
  </div>
  <div class="field">
    <%= f.label :payable? %>
    <%= f.check_box :payable %>
  </div>
  <div class="field payment_method">
    <%= f.label :pay_by_check? %>
    <%= f.check_box :pay_by_check %>
  </div>
  <div class="field payment_method">
    <%= f.label :pay_by_paypal? %>
    <%= f.check_box :pay_by_paypal %>
  </div>
  <% if @form.id -%>
  <div class="field">
    <%= f.label :event %>
    <%= f.collection_select :event_id, @events, :id, :name,
      {:include_blank => 'none'}, {:class => 'event'} %>
  </div>
  <% end -%>
  <% if @form.id and current_user.administrator? -%>
  <div class="field">
    <%= f.label :page %>
    <%= f.collection_select :page_id, @pages, :id, :name,
      {}, {:class => 'page'} %>
  </div>
  <% end -%>
  
  <%= hidden_field_tag 'field_order',
    @form.form_fields.map{|ff| ff.id}.join(', '),
    :id => 'field_order'%>
  
<% end %>

