<%= form_for(@form) do |f| %>
  
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @copy_form -%>
    <%= hidden_field_tag :copy_form_id, @copy_form.id %>
  <% end -%>

  <%= f.hidden_field :page_id %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :published? %>
    <%= f.check_box :published %>
  </div>
  <div class="field">
    <%= f.label :payable? %>
    <%= f.check_box :payable %>
  </div>
  <div class="field payment_method">
    <%= f.label :pay_by_check? %>
    <%= f.check_box :pay_by_check %>
  </div>
  <div class="field payment_method">
    <%= f.label :pay_by_paypal? %>
    <%= f.check_box :pay_by_paypal %>
  </div>
  <% if @form.id -%>
  <div class="field">
    <%= f.label :event %>
    <%= f.collection_select :event_id, @events, :id, :name,
      {:include_blank => 'none'}, {:class => 'event'} %>
  </div>
  <% end -%>
  <% if @form.id and @page.administrator?(current_user) -%>
  <div class="field">
    <%= f.label :page %>
    <%= f.collection_select :page_id, @pages, :id, :name_with_parent,
      {}, {:class => 'page'} %>
  </div>
  <% end -%>
  <div class="field">
    <%= f.label :advance_version? %>
    <%= check_box_tag :advance_version %>
    <span class="help">The current version is <%= @form.version %></span>
  </div>
  <% if @possible_parents -%>
  <div class="field">
    <%= f.label :parent %>
    <%= f.collection_select :parent_id, @possible_parents, :id, :name,
      {include_blank: true}, {:class => 'form'} %>
  </div>
  <% end -%>
  <div class="field">
    <%= f.label :authenticated? %>
    <%= f.check_box :authenticated %>
    <span class="help">Users are required to sign in</span>
  </div>
  <div class="field">
    <%= f.label '> 1 per user?' %>
    <%= f.check_box :many_per_user %>
    <span class="help">Expect users to fill out more than one</span>
  </div>
  <div class="field">
    <%= f.label :authentication_text %>
    <%= f.text_area :authentication_text, :size => '100x20', :class => 'textedit' %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
    <% if @form.id -%>
    | <%= link_to 'Cancel', @cancel_path %>
    <% else -%>
    |
      <% if @page -%>
        <%= link_to 'Cancel', @cancel_path %>
      <% else -%>
        <%= link_to 'Cancel', forms_path() %>
      <% end -%>
    <% end -%>
    <% if @form.id -%>
    | <%= link_to 'Delete Form', @form, data: {confirm: 'Are you sure?'},
        method: :delete %>
    <% end -%>
  </div>
  
<% end %>

