<%= render :partial => 'forms/breadcrumbs' %>

<header id="filled_form_header">
  
  <h1>
    <% if @new_user -%>
    <span class="sign_in">Sign In</span>
    <% end -%>
    
    <% if @filled_form and @filled_form.parent -%>
      <span class="parent_form">
        <% if @new_user -%>
          <%= @filled_form.parent.form.name %>
        <% else -%>
          <%= link_to @filled_form.parent.form.name,
            edit_form_fill_url(@filled_form.parent.form,
              @filled_form.parent, :protocol => 'https') %>
        <% end -%>
      </span>
    <% elsif @form.parent -%>
      <span class="parent_form">
        <%= link_to @form.parent.name,
          form_fills_url(@form.parent, :protocol => 'https') %>
      </span>
    <% end -%>
    
    <span class="form_name <%= @new_user ? 'blocked' : '' %>"><%= @form.name %></span>

    <% if @filled_form and not @filled_form.children.empty? -%>
      <% child_filled_form = @filled_form.children.first -%>
      <span class="child_form">
        <%= link_to child_filled_form.form.name,
          edit_form_fill_url(child_filled_form.form,
            child_filled_form, :protocol => 'https') %>
      </span>
    <% elsif not @form.children.empty? -%>
      <% child_form = @form.children.first -%>
      <span class="child_form">
        <% if @filled_form and not @filled_form.children.empty? -%>
          <% child_filled_form = @filled_form.children.first -%>
          <%= link_to child_filled_form.form.name,
            edit_form_fill_url(child_filled_form.form,
              child_filled_form, :protocol => 'https') %>
        <% elsif @filled_form and @filled_form.id -%>
          <%= link_to child_form.name,
            new_form_fill_url(child_form, :protocol => 'https') %>
        <% elsif (current_user and current_user.administrator?) %>
          <% if not @filled_form -%>
            <%= link_to child_form.name,
              form_fills_url(child_form, :protocol => 'https') %>
          <% else -%>
            <%= link_to child_form.name, best_form_url(child_form) %>
          <% end -%>
        <% else -%>
          <%= child_form.name %>
        <% end -%>
      </span>
    <% end -%>
  </h1>
  
  <% if current_user and @form.page.administrator?(current_user) -%>
  <div class="page_control">
    <%= link_to 'List', form_fills_path(@form) %>
  </div>
  <div class="page_control">
    <%= link_to 'CSV',
            form_fills_path(@form, :format => 'csv') %>
  </div>
  <div class="page_control">
    <%= link_to 'Excel',
            form_fills_path(@form, :format => 'xls') %>
  </div>
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Edit form', edit_fields_form_path(@form) %><li>
      <li><%= link_to 'Copy form', copy_form_path(@form) %><li>
    </ul>
  </div>
  <% end -%>
  
  <% if @form.event -%>
  <div class="form_event">
    For <%= @form.event.name %> on
    <% contextual_times(@form.event).each do |timestamp| -%>
      <div class="event_range">
        <%= timestamp %>
      </div>
    <% end -%>
  </div>
  <% end -%>
  
</header>