<%= render :partial => 'forms/breadcrumbs' %>

<header>
  
  <h1>
    <% if current_user and @form.page.administrator?(current_user) -%>
      <%= link_to @form.name, form_fills_path(@form) %>
    <% else -%>
      <span class="form_name"><%= @form.name %></span>
    <% end -%>
  </h1>
  
  <% if current_user and @form.page.administrator?(current_user) -%>
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Edit form', edit_form_path(@form) %><li>
      <li><%= link_to 'Copy form', copy_form_path(@form) %><li>
      <li><%= link_to 'CSV',
        form_fills_path(@form, :format => 'csv') %><li>
      <li><%= link_to 'Excel',
        form_fills_path(@form, :format => 'xls') %><li>
    </ul>
  </div>
  <% end -%>
  
  <% if @form.event -%>
  <div class="form_event">
    For <%= @form.event.name %> on
    <% contextual_times(@form.event).each do |timestamp| -%>
      <div class="event_range">
        <%= timestamp %>
      </div>
    <% end -%>
  </div>
  <% end -%>
  
</header>