<% title "#{@form.name}" -%>

<%= render :partial => 'edit_header' %>

<div class="regular_content">
  
<section>
  <%= form_for(@form, :remote => true, html: {:id => 'form_field_order'}) do |f| %>
    <%= hidden_field_tag 'field_order',
      @form.form_fields.map{|ff| ff.id}.join(', '),
      :id => 'field_order'%>
  <% end -%>
  <%= form_for(@form, :remote => true, html: {:id => 'form_section_order'}) do |f| %>
    <%= hidden_field_tag 'section_order',
      @form.form_sections.map{|fs| fs.id}.join(', '),
      :id => 'section_order'%>
  <% end -%>
  
  <ul class="dynamic_form_sections">
    <%= render :partial => 'form_sections/show',
      :collection => @form.form_sections %>
  </ul>
  
  <div class="actions dynamic_form">
    <%= button_to 'Add section',
      form_sections_path(@form), :remote => true %>
  </div>
  
  <p class="help">If you are editing a form that has already been published and filled out, you may want to advance the version number in the <%= link_to 'context', edit_form_path(@form) %> settings.</p>
  
</section>

</div>
