<% title "#{@form.name}" -%>

<% content_for(:scripts) do -%>
  <%= render :partial => 'pages/yui_scripts' %> 
<% end -%>

<div id="regular_content">
<section>
  
  <header>
    <h2>Edit Form</h2>
    <div id="dynamic_form_form">
      <%= render 'form' %>
    </div>
  </header>
  
  <hr />
  
  <ul id="dynamic_form_fields">
    <%= render :partial => 'form_fields/show_field',
      :collection => @form.form_fields %>
  </ul>
  
  <div id="add_content">
    <%= button_to 'Add field',
      form_fields_path(@form), :remote => true %>
  </div>
  
</section>

</div>

<%= javascript_tag do %>
  <%= render :partial => 'indexer.js' -%>
<% end -%>
