<% title "Edit #{@form.name}" -%>

<%= form_for(@form, :html => { class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => "Edit #{@form.name}", :cancel_path => @context_url,
      :message => @message} %>

  <%= render :partial => 'form_contents', :locals => {:f => f} %>

  <div class="form__footer">
    <%= f.submit "Update", class: 'btn btn--primary' %>
    <% if @form.id -%>
      <%= link_to 'Contents', @edit_content_url %>
    <% end -%>
  </div>

<% end %>

<% if @page_element -%>
<%= render :partial => 'page_elements/delete' %>
<% end -%>

<%= render :partial => 'shared/delete', :locals => {:item => @form} %>
