<% title "Forms" -%>

<% if @page -%>
<%= render :partial => 'pages/breadcrumbs', :locals => {:page => @page} %>
<% end -%>

<section>
  
  <% if @page %>
    <%= render :partial => 'pages/edit_header',
      :locals => {:active_aspect => 'forms'} %>
  <% else -%>
    <%= render :partial => 'site/header' %>
  <% end -%>

<% unless @forms.empty? -%>
<table id="forms" class="index">
  <tr>
    <th>Name</th>
    <% unless @page -%>
      <th>Page</th>
    <% end -%>
    <th>Event</th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= link_to form.name, form_fills_path(form) %></td>
    <% unless @page -%>
    <td><%= link_to form.page.name, friendly_page_path(form.page) %></td>
    <% end -%>
    <td>
      <% if form.event -%>
      <%= form.event.name %>
      <% contextual_times(form.event).each do |timestamp| -%>
        <div class="event_range">
          <%= timestamp %>
        </div>
      <% end -%>
      <% end -%>
    </td>
  </tr>
<% end %>
</table>
<% end -%>

<br />

<div class="page_admin">
  <ul>
    <li><%= link_to 'Add Form',
      new_form_path(:page_id => (@page ? @page.id : nil)) %></li>
  </ul>
</div>

</section>
