<% title "Add Form" -%>

<%= form_for(@form, :html => { class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => 'Add Form', :cancel_path => forms_path,
      :message => @message} %>

  <%= render :partial => 'form_contents', :locals => {:f => f} %>

  <div class="form__footer">
    <%= f.submit "Add", class: 'btn btn--primary' %>
  </div>

<% end %>

<% if @page and not @form.id -%>
<%= form_for(@page_element, :url => page_elements_path(@page, @page_element),
  :html => { class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => 'Attach Form'} %>

  <div class="form__contents">

    <fieldset>
      <ul class="form__fields list-bare">
        <%= f.hidden_field :page_id %>
        <%= f.hidden_field :element_type %>
        <li class="form__field">
          <%= f.label :form %>
          <%= f.select :element_id,
            options_from_collection_for_select(@forms,
              :id, :name, @form ? @form.id : nil),
            {include_blank: true} %>
        </li>
      </ul>
    </fieldset>
  </div>

  <div class="form__footer">
    <%= f.submit "Attach", class: 'btn btn--primary' %>
  </div>
<% end %>
<% end -%>
