<%= form_for(@new_authorization) do |f| %>
  <% if @new_authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_authorization.errors.count, "error") %> prohibited this authorization from being saved:</h2>

      <ul>
      <% @new_authorization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :page_id %>
  <div class="field">
    <%= f.label :user_email %><br \>
    <%= text_field_tag :user_email %>
  </div>
  <div class="field">
    <%= f.label :administrator? %>
    <%= f.check_box :administrator %>
  </div>
  <div class="actions">
    <%= f.submit 'Allow Access' %>
  </div>
<% end %>
