<section>
  
  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'access'} %>
  
  <div class="edit_content">
    <aside>
      <%= render :partial => 'edit_list' %>
    </aside>

    <section>
      
      <% if current_user.administrator? -%>
      <%= form_for(@page, :remote => true) do |f| %>
        <div class="field">
          <%= f.label :private?, :class => 'inline' %>
          <%= f.check_box :private, :class => 'submittable' %>
        </div>
        <% if @page.email_list and not @page.email_list.empty? -%>
        <div class="field">
          <%= f.label :allow_for_email_list?, :class => 'inline' %>
          <%= f.check_box :allow_for_email_list, :class => 'submittable' %>
          <div class="help">
            <%= @page.email_list %><%= @site.email_domain %>
          </div>
        </div>
        <% end -%>
      <% end %>
      <% end -%>
      
      <header>
        <h2>Add Account</h2>
      </header>
      <%= render 'form' %>
    </section>
  </div>

</section>

<%= javascript_tag do %>
$('.submittable').live('change', function() {
  $(this).parents('form:first').submit();
});
<% end %>
