<section>
  
  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'access'} %>
  
  <div id="edit_content">
    <aside>
      <%= render :partial => 'edit_list' %>
    </aside>

    <section>
      
      <%= form_for(@page, :remote => true) do |f| %>
        <div class="field">
          <%= f.label :private? %>
          <%= f.check_box :private, :class => 'submittable' %>
        </div>
      <% end %>
      
      <header>
        <h2>Add Contact</h2>
      </header>
      <%= render 'form' %>
    </section>
  </div>

</section>

<%= javascript_tag do %>
$('.submittable').live('change', function() {
  $(this).parents('form:first').submit();
});
<% end %>
