<div id="auth">
  <% if user_signed_in? -%>
    <ul>
      <% if current_user.administrator? -%>
        <li>
          <%= link_to pages_path, id: 'settings' do %>
            <%= image_tag('admin.png') %>
          <% end -%>
        </li>
      <% end -%>
      <li class="current">
      <%= link_to (current_user.avatar.exists? ?
          (image_tag current_user.avatar.url(:normal)) : current_user.email),
        edit_account_url(current_user, :protocol => 'https') %>
      </li>
      <li><%= link_to "Sign out",
        destroy_user_session_url(:protocol => 'https') %></li>
    </ul>
  <% else %>
    <ul>
      <!--li><%= link_to "Sign up",
        new_user_registration_url(:protocol => 'https') %></li-->
      <li><%= link_to "Sign in",
        new_user_session_url(:protocol => 'https') %></li>
    </ul>
  <% end -%>
</div>
