<head>
  <meta charset="UTF-8">
  <title>
    <% if content_for?(:title) -%>
      <%= yield(:title) %>
    <% elsif @site -%>
      <%= @site.title %>
    <% end -%>
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--meta name="apple-mobile-web-app-capable" content="yes"-->
  <!--meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"-->
  <link href="<%= site_icon_url %>" rel="apple-touch-icon">
  <link href="<%= site_icon_url %>" rel="apple-touch-icon-precomposed">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield(:scripts) %>
  <%= yield(:feed) %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/png" href="<%= site_icon_url %>" />
</head>
