<nav id="site_nav">
  <ul>
    <% @site_primary_pages.each do |page| -%>
    <li class="menu_parent <%= (@page and @site and
        @page.root == page) ? 'active' : '' %>">
      <% children = page.children -%>
      <% if children.empty? -%>
        <%= link_to page.name, friendly_page_path(page) %>
      <% else -%>
        <a><%= page.name %></a>
        <% link_to page.name, friendly_page_path(page) %>
        <%= render :partial => 'layouts/site_nav_menu',
          :locals => {:pages => [page] + page.children.to_a} %>
      <% end -%>
    </li>
    <% end -%>
    <% if @site and @site.calendar? -%>
    <li id="site_calendar"
      class="<%= (not @page and @calendar) ? 'active' : '' %>">
      <%= link_to "Calendar", main_calendar_path %></li>
    <% end -%>
    <% if @site and @site.library? -%>
    <li id="site_library"
      class="<%= (@messages or @message or @message_set or
        @authors or @author or @books or @book) ?
      'active' : '' %>">
      <%= link_to 'Messages', messages_path %></li>
    <% end -%>
  </ul>
  <form action="<%= search_path %>">
    <input name="q" id="search" type="search" required
      placeholder="Search"
      value="<%= @search_text || '' %>"/>
  </form>
</nav>
