<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= @site.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<%= site_icon_url %>" rel="apple-touch-icon">
  <link href="<%= site_icon_url %>" rel="apple-touch-icon-precomposed">
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/png" href="<%= site_icon_url %>" />
</head>
<body>
  <div id="content">
  </div>
  <%= webpack_bundle_tag 'admin' %>
</body>
</html>
