<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield(:title) || (@site ? @site.title : 'Site') %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'main', :media => 'print' %>
  <%= javascript_include_tag :defaults %>
  <%= yield(:scripts) %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="content" class="<%= yield(:content_class) %>">
    
  <header id="site_header">
    <h1><%= link_to raw(site_title), root_path %></h1>
    <h2><%= @site ? @site.subtitle : '' %></h2>
    <div id="notice"><%= notice %><%= alert %></div>
    <div id="auth">
      <% if user_signed_in? -%>
        <ul>
          <% if current_user.administrator? -%>
            <li>
              <%= link_to image_tag('admin.png'), pages_path %>
            </li>
          <% end -%>
          <li>
          <%= link_to (current_user.avatar.exists? ?
              (image_tag current_user.avatar.url(:normal)) : current_user.email),
            edit_account_url(current_user, :protocol => 'https') %>
          </li>
          <li><%= link_to "Sign out",
            destroy_user_session_url(:protocol => 'https') %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "Sign up",
            new_user_registration_url(:protocol => 'https') %></li>
          <li><%= link_to "Sign in",
            new_user_session_url(:protocol => 'https') %></li>
        </ul>
      <% end -%>
    </div>
  </header>
  
  <nav id="site_nav">
    <ul>
      <li class="<%= (@page and @site and
        @page.root == @site.about_page) ? 'active' : '' %>">
        <%= link_to "About", about_path %></li>
      <li id="communities_nav" class="<%= (@page and @site and
        @page.root == @site.communities_page) ? 'active' : '' %>">
        <%= link_to "Communities", communities_path %>
        <ul>
        <% @communities.each do |page| -%>
            <li><%= link_to page.name, friendly_page_path(page) %></li>
        <% end -%>
        </ul>
      </li>
      <li class="<%= (not @page and @calendar) ? 'active' : '' %>">
        <%= link_to "Calendar", main_calendar_path %></li>
      <li class="<%= (@messages or @message or @message_set or
        @authors or @author or @books or @book) ?
        'active' : '' %>">
        <%= link_to 'Message Library', messages_path %></li>  
    </ul>
    <form action="<%= search_path %>">
      <input name="q" id="search" type="search" required 
        value="<%= @search_text || '' %>"/>
    </form>
  </nav>

<%= yield %>

  <footer>
    <% if @site -%>
      <%= @site.address %>
      <copyright>
        <%= raw @site.copyright %>
      </copyright>
    <% end -%>
  </footer>
  
  </div>
</body>
</html>
