<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <% if content_for?(:title) -%>
      <%= yield(:title) %>
    <% elsif @site -%>
      <%= @site.title %>
    <% end -%>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% if mobile_device? -%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <!--meta name="apple-mobile-web-app-capable" content="yes"-->
    <!--meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"-->
    <link href="<%= site_icon_url %>" rel="apple-touch-icon">
    <link href="<%= site_icon_url %>" rel="apple-touch-icon-precomposed">
  <% end -%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield(:scripts) %>
  <%= yield(:feed) %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/png" href="<%= site_icon_url %>" />
</head>
<body class="<%= session[:design] ? "design_#{session[:design]}" : '' %>">
  <div id="content" class="<%= yield(:content_class) %>">

  <header id="site_header" class="<%= site_header_class %>">
    <h1>
      <%= link_to root_path do %>
        <%= site_logo %>
        <%= raw site_title %>
      <% end %>
    </h1>
    <% if content_for?(:breadcrumbs) -%>
      <%= yield(:breadcrumbs) %>
    <% end -%>
    <!--h2><%= @site ? @site.subtitle : '' %></h2-->
    <%= render :partial => 'layouts/site_controls' %>

    <div id="notice"><%= notice %></div>
  </header>


<%= yield %>

  <footer>
    <% if @site and @site.id -%>
      <div id="site_address">
        <%= link_to @site.address,
          'http://maps.apple.com/?q=' + @site.address %>
      </div>
      <div id="site_phone">
        <%= @site.phone %>
      </div>
      <div id="copyright">
        <%= raw @site.copyright %>
      </div>
    <% end -%>
  </footer>

  </div>
</body>
</html>
