<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield(:title) || (@site ? @site.title : 'Site') %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'newsletter/newsletter' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
  
</body>
</html>
