<header>
  <h1>
    <%= link_to ((@user.name and not @user.name.empty?) ? @user.name : @user.email),
      account_path(@user) %>
  </h1>
  
  <ul class="nav">
    <li class="<%= (@user and not @pages) ? 'active' : '' %>">
      <%= link_to 'Account', edit_account_path(@user) %></li>
    <li class="<%= @filled_forms ? 'active' : '' %>">
      <%= link_to 'Forms', fills_account_path(@user) %></li>
    <li class="<%= @payments ? 'active' : '' %>">
      <%= link_to 'Payments', payments_account_path(@user) %></li>
  </ul>
</header>
