<% title "Edit #{@user.name}" -%>

<%= form_for(@user, :url => account_path(@user),
  :html => { :multipart => true, class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => "Edit #{@user.name}", :cancel_path => root_path} %>

  <%= render :partial => 'form_contents', :locals => {:f => f} %>

  <div class="form__footer">
    <%= f.submit "Update", class: 'btn btn--primary' %>
  </div>

<% end %>

<% if @user != current_user -%>
<%= render :partial => 'shared/delete',
  :locals => {:item => @user, :url => account_path(@user)} %>
<% end -%>
