<% title("Accounts") -%>

<section>
  
  <%= render :partial => 'site/header' %>
  
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Add Account', new_account_path %></li>
    </ul>
  </div>

<table id="users" class="index">
  <tbody>
<% @users.each do |user| %>
  <tr>
    <td>
      <% if user.avatar.exists? -%>
        <%= image_tag user.avatar.url(:normal) %>
      <% end -%>
    </td>
    <td class="first_name"><%= user.first_name %></td>
    <td class="last_name"><%= user.last_name %></td>
    <td><%= link_to user.email, edit_account_path(user) %></td>
    <td class="administrator">
      <% if user.administrator -%>
        administrator
      <% end -%>
    </td>
    <td>
      <ul class="account_pages">
      <% user.contact_pages.each do |page| -%>
        <li>
          <%= link_to page.prefixed_name, friendly_page_path(page) %>
          <% if false and page.access_administrator?(user) -%>
            (A)
          <% end -%>
        </li>
      <% end -%>
      </ul>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

</section>